<nav class="navbar navbar-expand-md navbar-light bg-white custom-header">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">
        <img src="~/Content/images/logos.png" alt="Pickfords" width="120" />
    </a>
    @*<img src="@Url.Content("~/Content/img/logo.png")" alt="ANGLO PACIFIC" width="120" />*@

    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@
    @*<div class="collapse navbar-collapse flex-column" id="navbarsExampleDefault">
        <div class="top-menu w-100 border-bottom mb-1">
            <ul class="navbar-nav mr-auto top-left">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","ShipmentTracking")">Shipment Tracking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","MyQuote")">My Quotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-center top-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bx bx-mobile-alt"></i>CALL US&nbsp;<span class="text-warning">00.00.00000</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bx bx-search"></i>Search</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"><button class="btn btn-outline-success rounded-pill d-flex align-items-center"><i class="bx bx-phone-call pr-1"></i>INSTANT CALL BACK</button></span>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto bottom-menu align-items-center">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Baggage" ,new { countryCode="AU"})">Baggage Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">International shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","InternationalRemoval",new { countryCode="AU"  })">International Removals</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Vehicle",new { countryCode="AU"  })">Car Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Complementary Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="btn btn-warning rounded-pill">Get a Quote <span class="pl-2">&#x27A1;</span></span></a>
            </li>
        </ul>
    </div>*@
</nav>