
@model QuoteCalculator.Models.QuoteInformationModel
@{
    /**/

    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="page-breadcrumb text-center font-nr mb-2">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">My quotes</a></li>
        </ul>
    </div>*@
<h1 class="text-primary text-center mb-4"><b>My Quotes</b></h1>
<div class="row">
    @if (Model.vehicleQuoteInfo.Count > 0)
    {
        <div class="col-12">
            <h3 class="text-center text-uppercase text-success mb-4"><b>VEHICLE QUOTES</b></h3>
            @for (var i = 0; i < Model.vehicleQuoteInfo.Count; i++)
            {
                if (Model.vehicleQuoteInfo[i].FCL != 0 && Model.vehicleQuoteInfo[i].FCL != null && Model.vehicleQuoteInfo[i].GPG != 0 && Model.vehicleQuoteInfo[i].GPG != null)
                {
                    <div class="row justify-content-md-between border-bottom border-dark mb-4">
                        @if (SessionHelper.COMPANY_ID == 1)
                        {
                            <div class="col-auto">
                                <h5><span>AP</span>@Model.vehicleQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.vehicleQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        else if (SessionHelper.COMPANY_ID == 2)
                        {
                            <div class="col-auto">
                                <h5><span>PF</span>@Model.vehicleQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.vehicleQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        else if (SessionHelper.COMPANY_ID == 3)
                        {
                            <div class="col-auto">
                                <h5><span>EI</span>@Model.vehicleQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.vehicleQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        <div class="col-auto">
                            <p><small><a class="my-quotes" href="@Url.Action("Quote", "Vehicle", new { vehicleId = CommonHelper.Encode(Model.vehicleQuoteInfo[i].Id.ToString()), isMyQuote = true })">View quote details</a></small></p>
                        </div>
                        <div class="col-12">
                            <span><b>From @Model.vehicleQuoteInfo[i].PostCode, @Model.vehicleQuoteInfo[i].FromCountryName to @Model.vehicleQuoteInfo[i].CityName, @Model.vehicleQuoteInfo[i].ToCountryName</b></span>
                            <p class="border-bottom pb-2 text-success mb-0"><b>@Model.vehicleQuoteInfo[i].VehicleMakeName @Model.vehicleQuoteInfo[i].VehicleModelName</b></p>
                        </div>
                        <div class="col-12 mb-4">
                            <ul class="quotes-list">
                                @if (Model.vehicleQuoteInfo[i].FCL != 0 && Model.vehicleQuoteInfo[i].FCL != null)
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col mt-2">
                                                <div class="row justify-content-between">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>By exclusive container </b></p>
                                                        <p class="mb-3"><b>to arrival port @Model.vehicleQuoteInfo[i].CityName</b></p>
                                                    </div>
                                                    <div class="col-auto" style="font-size: large; font-weight: bold;">
                                                        <span class="text-success">Price </span><span>£ @Math.Round(Convert.ToDecimal(Model.vehicleQuoteInfo[i].FCL.Value), 2, MidpointRounding.ToEven)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                            @*<div class="col-auto mt-2">
                                                    <button class="btn btn-outline-secondary" onclick="BookVehicleQuote(@Model.vehicleQuoteInfo[i].Id,'FCL')">Book Now</button>
                                                </div>*@
                                            <div class="col-auto mt-2">
                                                @if (Model.vehicleQuoteInfo[i].IsFCL == false)
                                                {
                                                    if (Model.vehicleQuoteInfo[i].IsGRP != true)
                                                    {
                                                        <button class="btn btn-outline-secondary" id="Fclbuttton" onclick="BookVehicleQuote(this,@Model.vehicleQuoteInfo[i].Id,'FCL')"><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                                                    }
                                                }
                                                @if (Model.vehicleQuoteInfo[i].IsFCL == true)
                                                {
                                                    <button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="icon-check2 font-lg"></i>BOOKED</button>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                                @if (Model.vehicleQuoteInfo[i].GPG != 0 && Model.vehicleQuoteInfo[i].GPG != null)
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col mt-2">
                                                <div class="row justify-content-between">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>By shared container</b></p>
                                                        <p class="mb-0"><b>to arrival port @Model.vehicleQuoteInfo[i].CityName</b></p>
                                                    </div>
                                                    <div class="col-auto" style="font-size: large; font-weight: bold;">
                                                        <span class="text-success">Price </span><span>£ @Math.Round(Convert.ToDecimal(Model.vehicleQuoteInfo[i].GPG.Value), 2, MidpointRounding.ToEven)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1"></div>
                                            @*<div class="col-auto mt-2">
                                                    <button class="btn btn-outline-secondary" onclick="BookVehicleQuote(@Model.vehicleQuoteInfo[i].Id,'GPG')">Book Now</button>
                                                </div>*@
                                            <div class="col-auto mt-2">
                                                @if (Model.vehicleQuoteInfo[i].IsGRP == false)
                                                {
                                                    if (Model.vehicleQuoteInfo[i].IsFCL != true)
                                                    {
                                                        <button class="btn btn-outline-secondary" id="GPGbuttton" onclick="BookVehicleQuote(this,@Model.vehicleQuoteInfo[i].Id,'GPG')"><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                                                    }
                                                }
                                                @if (Model.vehicleQuoteInfo[i].IsGRP == true)
                                                {
                                                    <button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    }

    @if (Model.bagageQuoteInfo.Count > 0)
    {
        <div class="col-12">
            <h3 class="text-center text-uppercase text-success mb-4"><b>BAGGAGE QUOTES</b></h3>
            @for (var i = 0; i < Model.bagageQuoteInfo.Count; i++)
            {
                <div class="row justify-content-md-between border-bottom border-dark pt-4 mb-4">
                    @if (SessionHelper.COMPANY_ID == 1)
                    {
                        <div class="col-auto">
                            <h5><span>AP</span>@Model.bagageQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.bagageQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                        </div>
                    }
                    else if (SessionHelper.COMPANY_ID == 2)
                    {
                        <div class="col-auto">
                            <h5><span>PF</span>@Model.bagageQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.bagageQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                        </div>
                    }
                    else if (SessionHelper.COMPANY_ID == 3)
                    {
                        <div class="col-auto">
                            <h5><span>EI</span>@Model.bagageQuoteInfo[i].CustomerRefNo <span class="text-success ml-4">@Model.bagageQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                        </div>
                    }
                    <div class="col-auto">
                        <p><small><a class="my-quotes" href="@Url.Action("Baggage","Baggage" , new { quoteId = CommonHelper.Encode(Model.bagageQuoteInfo[i].Id.ToString()), isMyQuote = true})">View quote details</a></small></p>
                    </div>
                    <div class="col-12">
                        <span><b>From @Model.bagageQuoteInfo[i].FromCity, @Model.bagageQuoteInfo[i].FromCountry to @Model.bagageQuoteInfo[i].CityName, @Model.bagageQuoteInfo[i].ToCountry</b></span>
                        <p class="border-bottom pb-2 text-success mb-0" style="white-space: pre-line">@Model.bagageQuoteInfo[i].CartonList</p>
                    </div>
                    <div class="col-12">
                        <ul class="quotes-list">
                            @if (Model.bagageQuoteInfo[i].BaggagePriceList.Count > 0)
                            {
                                for (var j = 0; j < Model.bagageQuoteInfo[i].BaggagePriceList.Count; j++)
                                {
                                    <li>
                                        <div class="row mt-2">
                                            <div class="col mt-2">
                                                <div class="row justify-content-between">
                                                    @*<td valign="middle" width="50" class="border-0"><span class="quote-opt-no font-lg text-success">@(j + 1)</span></td>*@
                                                    <div class="col border-0 mt-2"><span id="quotekey_@i"><b>@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName</b></span></div>
                                                    <div class="col border-0 mt-2">
                                                        @if (Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Sea Freight To Door")
                                                        {
                                                            <span class="text-success" style="display:block">@Model.bagageQuoteInfo[i].BaggagePriceList[j].CalcDescription </span>
                                                            <span class="text-success">(average)</span>
                                                            <span>@Model.bagageQuoteInfo[i].BaggagePriceList[j].TransitionTime</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-success">@Model.bagageQuoteInfo[i].BaggagePriceList[j].CalcDescription </span>
                                                            <span>@Model.bagageQuoteInfo[i].BaggagePriceList[j].TransitionTime</span>
                                                        }
                                                    </div>
                                                    <div class="col border-0 mt-2" style="font-size: large; font-weight: bold;"><span class="text-success">Price £</span><span id="quotePrice_@i">@Math.Round(Convert.ToDecimal(Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount), 2, MidpointRounding.ToEven) </span></div>
                                                </div>
                                            </div>
                                            <div class="col-auto mt-2">
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Air freight To Airport")
                                                {
                                                    if (Model.bagageQuoteInfo[i].AirFreightToAirport == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="AirfreightToAirportButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Air freight To Door")
                                                {
                                                    if (Model.bagageQuoteInfo[i].AirFreightToDoor == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="AirfreightToDoorButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Courier Economy To Door")
                                                {
                                                    if (Model.bagageQuoteInfo[i].Courier == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="CourierButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Sea Freight To Door")
                                                {
                                                    if (Model.bagageQuoteInfo[i].SeaFreight == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="SeaFreightButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Road freight To Door")
                                                {
                                                    if (Model.bagageQuoteInfo[i].RoadFreight == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="RoadfreightToDoorButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                                @if (@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName == "Courier Express To Door")
                                                {
                                                    if (Model.bagageQuoteInfo[i].CourierExpress == true)
                                                    {
                                                        <div valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button></div>
                                                    }
                                                    else
                                                    {
                                                        if (Model.bagageQuoteInfo[i].isMethodSelected == true)
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                        else
                                                        {
                                                            <div valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="CourierExpressButton" onclick="BookBaggageQuote(this,'@Model.bagageQuoteInfo[i].BaggagePriceList[j].DeliveryMethodName',@Model.bagageQuoteInfo[i].BaggagePriceList[j].Amount,@Model.bagageQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i>BOOK NOW</button></div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="col-sm-12 mt-4">
                            <div class="col-sm-6">
                                <small style="color:gray">
                                    @if (Model.bagageQuoteInfo[i].HasMainCartons && Model.bagageQuoteInfo[i].DeliveryCharge == 0)
                                    {
                                        <span>Delivery of flat pack cartons to @Model.bagageQuoteInfo[i].FromCity Free</span>
                                    }
                                    else if (Model.bagageQuoteInfo[i].HasMainCartons && Model.bagageQuoteInfo[i].DeliveryCharge > 0)
                                    {
                                        <span>Delivery of flat pack cartons to @Model.bagageQuoteInfo[i].FromCity £@Model.bagageQuoteInfo[i].DeliveryCharge</span>
                                    }
                                    else if (!Model.bagageQuoteInfo[i].HasMainCartons && Model.bagageQuoteInfo[i].DeliveryCharge == 0)
                                    {
                                        <span>Delivery of packing materials to @Model.bagageQuoteInfo[i].FromCity Free (if required)</span>
                                    }
                                    else
                                    {
                                        <span>Delivery of packing materials to @Model.bagageQuoteInfo[i].FromCity £@Model.bagageQuoteInfo[i].DeliveryCharge (if required)</span>
                                    }
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <small style="color:gray">
                                    Collection of packed items from <span>@Model.bagageQuoteInfo[i].FromCity</span>
                                    @if (@Model.bagageQuoteInfo[i].CollectionCharge > 0)
                                    {
                                        <span>£</span><span>@Model.bagageQuoteInfo[i].CollectionCharge</span>
                                    }
                                    else
                                    {
                                        <span>Free</span>
                                    }
                                </small>
                            </div>
                            <div class="col-sm-6">
                                @if (@Model.bagageQuoteInfo[i].InternalNotes != null)
                                {
                                    <span style="white-space:pre-line"> <b> @Model.bagageQuoteInfo[i].InternalNotes </b> </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @if (Model.removalQuoteInfo.Count > 0)
    {
        <div class="col-12">
            <h3 class="text-center text-uppercase text-success mb-4"><b>INTERNATIONAL REMOVAL QUOTES</b></h3>

            @for (var i = 0; i < Model.removalQuoteInfo.Count; i++)
            {
                if (Model.removalQuoteInfo[i].Amount > 0)
                {
                    <div class="row justify-content-md-between border-bottom border-dark pt-4">
                        @if (SessionHelper.COMPANY_ID == 1)
                        {
                            <div class="col-auto">
                                <h5><span>AP</span>@Model.removalQuoteInfo[i].CustomerRefNo<span class="text-success ml-4">@Model.removalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        else if (SessionHelper.COMPANY_ID == 2)
                        {
                            <div class="col-auto">
                                <h5><span>PF</span>@Model.removalQuoteInfo[i].CustomerRefNo<span class="text-success ml-4">@Model.removalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        else if (SessionHelper.COMPANY_ID == 3)
                        {
                            <div class="col-auto">
                                <h5><span>EI</span>@Model.removalQuoteInfo[i].CustomerRefNo<span class="text-success ml-4">@Model.removalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                            </div>
                        }
                        <div class="col-auto">
                            <p><small><a class="my-quotes" href="@Url.Action("QuickOnlineQuoteDetail", "InternationalRemoval", new { Id = Model.removalQuoteInfo[i].Id, isMyQuote = true })">View quote details</a></small></p>
                        </div>
                        <div class="col-12">
                            <span><b>From @Model.removalQuoteInfo[i].PostCode, @Model.removalQuoteInfo[i].FromCountryName to @Model.removalQuoteInfo[i].CityName, @Model.removalQuoteInfo[i].ToCountryName</b></span>
                            <p class="border-bottom pb-2 text-success mb-0">
                                <b>
                                    @Model.removalQuoteInfo[i].Description
                                    <br />
                                    @*@if (Model.removalQuoteInfo[i].SpecialRequirements != null)
                                        {
                                            <span>Special Requirement:  @Model.removalQuoteInfo[i].SpecialRequirements</span>
                                        }*@
                                    @if (Model.removalQuoteInfo[i].strSpecialRequirements != null)
                                    {
                                        @*<span>Special Requirement:  @Model.removalQuoteInfo[i].SpecialRequirements</span>*@
                                        <span>Special Requirement: </span><br />
                                        foreach (var item in Model.removalQuoteInfo[i].strSpecialRequirements)
                                        {
                                            if (item != "")
                                            {
                                                <span>
                                                    @item
                                                </span> <br />
                                            }
                                        }
                                    }
                                </b>
                            </p>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="row">
                                <div class="col mt-4">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <p class="mb-3"><b>Shared (Groupage) Container Service</b></p>
                                        </div>
                                        <div class="col-auto">
                                            <span class="text-success">Transit time </span><span>7 to 10 Days</span>
                                        </div>
                                        <div class="col-auto" style="font-size: large; font-weight: bold;">
                                            <span class="text-success">Price </span><span>£ @Math.Round(Convert.ToDecimal(Model.removalQuoteInfo[i].Amount), 2, MidpointRounding.ToEven)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-auto mt-3">
                                    @if (Model.removalQuoteInfo[i].Courier != true)
                                    {
                                        <button class="btn btn-outline-secondary" id="quoteOption" onclick="BookRemovalQuote(@Model.removalQuoteInfo[i].Id)"><i class="bx bx-check font-lg"></i> Book Now </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    }
</div>

<script>
    function saveCompleted(data) {
        if (data == "") {
        }
    }

    function BookVehicleQuote(e,vehicleId,str)
    {

        var btnId = e.id;
        bootbox.confirm("Are you sure you want to book now?", function (result) {
            if (result) {
                var url = '@Url.Action("Quote", "Vehicle")';
                var data = {
                    'VehicleId': vehicleId,
                    'str': str
                };
                callwebservice(url, data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
                location.reload();
                //if (btnId == "Fclbuttton") {
                //    $("#Fclbuttton").removeClass("btn btn-outline-secondary");
                //    $("#Fclbuttton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#Fclbuttton").attr("disabled", "disabled");
                //    $("#GPGbuttton").attr("disabled", "disabled");
                //    $("#Fclbuttton").text("Booked");
                //}

                //if (btnId == "GPGbuttton") {
                //    $("#GPGbuttton").removeClass("btn btn-outline-secondary");
                //    $("#GPGbuttton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#GPGbuttton").attr("disabled", "disabled");
                //    $("#Fclbuttton").attr("disabled", "disabled");
                //    $("#GPGbuttton").text("Booked");
                //}
            }
        });
    }

    function BookBaggageQuote(e, quotekey, quotePrice, quoteNo) {
        var btnId = e.id;
        bootbox.confirm("Are you sure you want to book now?", function (result) {
            if (result) {
                //var quotekey = $("#quotekey_" + btnId.split('_')[1]).text();
                //var quotePrice = $("#quotePrice_" + btnId.split('_')[1]).text();

                //for (var i = 0; i < count; i++) {
                //    if (i != btnId.split('_')[1]) {
                //        $("#quoteOption_" + [i]).removeClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //        $("#quoteOption_" + [i]).addClass("btn btn-outline-secondary");
                //        $("#quoteSpan_" + [i]).text("Book Now");
                //    }
                //}

                //$("#" + btnId).removeClass("btn btn-outline-secondary");
                //$("#" + btnId).addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //$("#quoteSpan_" + btnId.split('_')[1]).text("Booked");
                var url = '@Url.Action("BaggageQuoteCal", "Baggage")';
                var data = {
                            'colName': quotekey,
                            'quotePrice': quotePrice,
                            'quoteNo': quoteNo
                            };
                callwebservice(url, data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
                location.reload();
                //if (btnId == "AirfreightToAirportButton") {
                //    $("#AirfreightToAirportButton").removeClass("btn btn-outline-secondary");
                //    $("#AirfreightToAirportButton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#AirfreightToAirportButton").attr("disabled", "disabled");
                //    $("#AirfreightToDoorButton").attr("disabled", "disabled");
                //    $("#CourierButton").attr("disabled", "disabled");
                //    $("#SeaFreightButton").attr("disabled", "disabled");
                //    $("#AirfreightToAirportButton").text("Booked");
                //}
                //if (btnId == "AirfreightToDoorButton") {
                //    $("#AirfreightToDoorButton").removeClass("btn btn-outline-secondary");
                //    $("#AirfreightToDoorButton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#AirfreightToAirportButton").attr("disabled", "disabled");
                //    $("#AirfreightToDoorButton").attr("disabled", "disabled");
                //    $("#CourierButton").attr("disabled", "disabled");
                //    $("#SeaFreightButton").attr("disabled", "disabled");
                //    $("#AirfreightToDoorButton").text("Booked");
                //}
                //if (btnId == "CourierButton") {
                //    $("#CourierButton").removeClass("btn btn-outline-secondary");
                //    $("#CourierButton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#AirfreightToAirportButton").attr("disabled", "disabled");
                //    $("#AirfreightToDoorButton").attr("disabled", "disabled");
                //    $("#CourierButton").attr("disabled", "disabled");
                //    $("#SeaFreightButton").attr("disabled", "disabled");
                //    $("#CourierButton").text("Booked");
                //}
                //if (btnId == "SeaFreightButton") {
                //    $("#SeaFreightButton").removeClass("btn btn-outline-secondary");
                //    $("#SeaFreightButton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //    $("#AirfreightToAirportButton").attr("disabled", "disabled");
                //    $("#AirfreightToDoorButton").attr("disabled", "disabled");
                //    $("#CourierButton").attr("disabled", "disabled");
                //    $("#SeaFreightButton").attr("disabled", "disabled");
                //    $("#SeaFreightButton").text("Booked");
                //}
            }
        });
    }

    function BookRemovalQuote(id) {
        bootbox.confirm("Are you sure you want to book now?", function (result) {
            if (result) {
                var url = '@Url.Action("RemovalQuoteBook", "InternationalRemoval")';
                var data = {
                    'quoteId': id,
                    'type': 'EXR'
                };
                callwebservice(url, data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
                location.reload();
                //$("#quoteOption").removeClass("btn btn-outline-secondary");
                //$("#quoteOption").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                //$("#quoteOption").attr("disabled", "disabled");
                //$("#quoteOption").text("Booked");
            }
        });
    }
</script>