@using System.Web.Configuration
@{
    ViewBag.Title = "Index";
}

<style>
    .custombtn {
        padding: 5px !important;
    }
</style>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0"> Baggage Quote Details</h5>
        <a class="btn btn-warning text-right" href="@Url.Action("AddEdit", "Baggage")?id=0"><i class="icon-plus2"></i>  Add Baggage</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="tblBaggage" class="table dataTable" width="100%">
                    <thead>
                        <tr class="text-nowrap">
                            <th>Title</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>To City</th>
                            <th>Reference Number</th>
                            <th>Branch Name</th>
                            <th>Sales Rep</th>
                            <th>Access Code</th>
                            <th>Get Quote</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                
            </div>
        </div>
    </div>
</div>

<script>
    var DataTable = $('#tblBaggage').DataTable();
    $(document).ready(function () {
        $("#menu_Baggage").addClass("active");
        $("#menu_QuoteDetails").children().removeClass("collapsed");
        $("#menu_QuoteDetails").children().addClass("show");
        $("#menu_QuoteDetails").addClass("active");
        BindBaggageGrid();
    });

    @*function BindBaggageGrid() {
        $.ajax({
            url: encodeURI('@Url.Action("KendoRead", "Baggage")'),
            type: "GET",
            data: {

            },
            dataType: "json",
            success: GetBaggageData
        });
    }*@

    function BindBaggageGrid() {
        try {
            if (DataTable != 'undefined') {
                DataTable.destroy();
            }
            DataTable = $('#tblBaggage').DataTable({
                colReorder: {
                    enable: false
                },
                serverSide: true,
                language: {
                    'processing': '<div class="loader"></div>'
                },
                ajax: {
                    url: encodeURI('@Url.Action("GetBaggageData", "Baggage")'),
                    type: 'POST',
                    //data: function (d) {
                    //    d.ImportQuoteId = 10;
                    //}
                },
                "lengthMenu": [10, 20,50, 100, 200, 500],
                "pageLength": 10,
                "order": [],

                //dom: 'Blfrtip',
                "bFilter": true,
               // "aaData": data.Data,
                "aoColumns": [
                    {
                        "mData": "TitleName",
                        "className": "text-left"
                    },
                    {
                        "mData": "Firstname",
                        "className": "text-left "
                    },
                    {
                        "mData": "Lastname",
                        "className": "text-left"
                    },
                    {
                        "mData": "Email",
                        "className": "text-left"
                    },
                    {
                        "mData": "Telephone",
                        "className": "text-left"
                    },
                    {
                        "mData": "CityName",
                        "className": "text-left"
                    },
                    {
                        "mData": "ReferenceNumber",
                        "className": "text-left"
                    },
                    {
                        "mData": "BranchName",
                        "className": "text-left"
                    },
                    {
                        "mData": "SalesRep",
                        "className": "text-left"
                    },
                    {
                        "mData": "AccessCode",
                        "className": "text-left"
                    },
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "className": "dt-center",
                        "render": function (data, type, row, meta) {
                            return '<a title="View Quotes" href="javascript:;" onclick="RedirectToMyQuote(\'' + row.Id + '\', \'' + row.Email + '\')" class="btn btn-link btn-sm px-1 datatable-btn text-decoration-none">View Quotes</a>';
                        }
                    },
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "className": "dt-center",
                        "render": function (data, type, row, meta) {
                            let result = '';
                            let ActionButtonEdit = '';
                            let ActionDeleteButton = '';
                            ActionButtonEdit = '<a title="Edit" href="@Url.Action("AddEdit", "Baggage")?Id=' + row.Id + '" class="btn edit-icon" ><i class="fa-regular fa-pen-to-square"></i></a>';
                            ActionDeleteButton = '<a title="Delete" href="javascript:;" onclick="DeleteBaggageQuote(\'' + row.Id + '\')" class="btn delete-icon"><i class="fa-regular fa-trash-can"></i></a>';
                            result = ActionButtonEdit +'&nbsp;&nbsp;&nbsp;' + ActionDeleteButton;
                            return result;
                        }
                    }
                ]
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            console.error(e.message);
        }
    }
    @*function RedirectToView(e)
    {
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        if (data != null) {
            var urllink = '@Url.Action("AddEdit", "Baggage")?Id=' + data.Id;
            window.location.href = urllink;
        }
    }*@

    function RedirectToMyQuote(Id, Email) {
        window.location.href = '@Url.Action("ViewMyQuote", "Baggage")?Id=' + Id + '&email=' + Email;
    }
    function DeleteBaggageQuote(Id) {
        bootbox.confirm({
            message: "Are You Sure You Want To Delete Quote?",
            buttons: {
                cancel: {
                    label: "No",
                    className: "btn-cancel min-auto cancel"
                },
                confirm: {
                    label: "Yes, Delete Quote",
                    className: "btn-warning min-auto"
                }
            },
            callback: function(result) {
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Destroy", "Baggage")',
                    dataType: 'json',
                    data: { Id: Id },
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data) {
                            toastr.success(data.Message);
                            //$('#BaggageQuoteGrid').data('kendoGrid').dataSource.read();
                            BindBaggageGrid();
                        }
                    },
                    error: function () {
                        alert("We are facing some problem please try again later");
                        //$('#BaggageQuoteGrid').data('kendoGrid').dataSource.read();
                    }
                });
            }

        }
        });
    }
    //function GetQuoteByQuoteNumber() {
        //var urllink = '@Url.Action("KendoRead", "Baggage")?ReferenceNo=' + $("#ReferenceNo").val();
        //$('#BaggageQuoteGrid').data('kendoGrid').dataSource.read();
    //}

</script>