@model QuoteCalculator.Service.Models.BaggageModel

@{
    ViewBag.Title = "MoveDetaile";
}

<h1 class="text-primary text-center mb-4"><b>Now, tell us what you want to move?</b></h1>
<p><small>Please select from our range of FREE export strength cartons in the drop down below.</small></p>
<p><small>Don’t need any cartons or have oversized items? Skip to popular other items, or enter the details yourself.</small></p>
<div class="row justify-content-center">
    <div class="col-md-9 my-4">
        <ul class="progress-steps">
            <li class="active disabled">First Step</li>
            <li class="active">Second Step</li>
            <li>Third Step</li>
        </ul>
    </div>
    @using (Html.BeginForm("MoveDetails", "Baggage", FormMethod.Post, new { @class = "custom-inputs", @Id = "myForm" }))
    {
        <div class="col-12 my-4">
            <span>Our baggage service is restricted to what one man can carry and is <b>limited to 30 kilos per item.</b></span>
        </div>
        <div class="col-12">
            <div class="move-journey" id="moveJourneyAccordian">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-0" id="headingOne">
                            <button type="button" class="btn" data-toggle="collapse" data-target="#collapseOne"><span>1</span>Choose your cartons<i class=""></i></button>
                        </h2>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#moveJourneyAccordian">
                            <div class="card-body px-0 pb-0">
                                <div class="row">
                                    @if (Model.cartonList != null)
                                    {

                                        // foreach (var list in Model.cartonList)
                                        for (int i = 0; i < Model.cartonList.Count; i++)
                                        {
                                            <input type="hidden" id="obj.cartonList[@i].type" name="obj.cartonList[@i].type" value="@Model.cartonList[i].type">
                                            <input type="hidden" id="obj.cartonList[@i].id" name="obj.cartonList[@i].id" value="@Model.cartonList[i].id">
                                            <input type="hidden" id="obj.cartonList[@i].display" name="obj.cartonList[@i].display" value="@Model.cartonList[i].display">
                                            <input type="hidden" id="obj.cartonList[@i].description" name="obj.cartonList[@i].description" value="@Model.cartonList[i].description">
                                            <input type="hidden" id="obj.cartonList[@i].length" name="obj.cartonList[@i].length" value="@Model.cartonList[i].length">
                                            <input type="hidden" id="obj.cartonList[@i].breadth" name="obj.cartonList[@i].breadth" value="@Model.cartonList[i].breadth">
                                            <input type="hidden" id="obj.cartonList[@i].height" name="obj.cartonList[@i].height" value="@Model.cartonList[i].height">
                                            <input type="hidden" id="obj.cartonList[@i].volume" name="obj.cartonList[@i].volume" value="@Model.cartonList[i].volume">
                                            <input type="hidden" id="obj.cartonList[@i].image" name="obj.cartonList[@i].image" value="@Model.cartonList[i].image">
                                            <input type="hidden" id="obj.cartonList[@i].weight" name="obj.cartonList[@i].weight" value="@Model.cartonList[i].weight">
                                            <input type="hidden" id="obj.cartonList[@i].standout" name="obj.cartonList[@i].standout" value="@Model.cartonList[i].standout">
                                            <input type="hidden" id="obj.cartonList[@i].moveware_description" name="obj.cartonList[@i].moveware_description" value="@Model.cartonList[i].moveware_description">
                                            <input type="hidden" id="obj.moveList[@i].Volume" name="obj.moveList[@i].Volume" value="@Model.moveList[i].Volume">

                                            if (Model.cartonList[i].type == "AP" && Model.cartonList[i].display == 1)
                                            {
                                                <div class="col-auto mb-5">
                                                    <div class="carton-box text-center d-flex flex-column">
                                                        <p class="mb-2">@Model.cartonList[i].volume cu ft<br>@Model.cartonList[i].description</p>
                                                        <div class="flex-1 my-3 d-flex justify-content-center align-items-center"><img src="~/@Model.cartonList[i].image" alt="img" /></div>
                                                        <p class="mb-0 mt-2"><b>@Model.cartonList[i].length X @Model.cartonList[i].breadth X @Model.cartonList[i].height cm</b><a href="#"><i class="bx bxs-info-circle pl-2 text-primary"></i></a></p>
                                                        <div class="bottom-select">
                                                            <div class="input-group rounded-pill mb-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon1">qty</span>
                                                                </div>
                                                                <input type="number" class="form-control" min="0" id="obj.cartonList[@i].quantity" name="obj.cartonList[@i].quantity" placeholder="0">
                                                            </div>
                                                            <div class="input-group rounded-pill">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" title="Gross weight in kg" id="basic-addon1">wt</span>
                                                                </div>
                                                                <input type="number" class="form-control" min="0" id="obj.cartonList[@i].UserVolume" name="obj.cartonList[@i].UserVolume" placeholder="0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-0" id="headingTwo">
                            <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"><span>2</span>Other popular items<i class=""></i></button>
                        </h2>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#moveJourneyAccordian">
                            <div class="card-body">
                                <div class="row">
                                    @if (Model.cartonList != null)
                                    {
                                        for (int i = 0; i < Model.cartonList.Count; i++)
                                        {
                                            if (Model.cartonList[i].type == "EXTRA" && Model.cartonList[i].display == 1)
                                            {
                                                <div class="col-auto mb-5">
                                                    <div class="carton-box text-center d-flex flex-column">
                                                        <p class="mb-2">@Model.cartonList[i].description</p>
                                                        <div class="flex-1 my-3 d-flex justify-content-center align-items-center"><img src="~/@Model.cartonList[i].image" alt="img" /></div>
                                                        <p class="mb-0 mt-2"><b>@Model.cartonList[i].volume cu ft</b><a href="#"><i class="bx bxs-info-circle pl-2 text-primary"></i></a></p>
                                                        <div class="bottom-select">
                                                            <div class="input-group rounded-pill mb-2">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">qty</span>
                                                                </div>
                                                                <input type="number" class="form-control" min="0" id="obj.cartonList[@i].quantity" name="obj.cartonList[@i].quantity" placeholder="0">
                                                            </div>
                                                            <div class="input-group rounded-pill">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" title="Gross weight in kg">wt</span>
                                                                </div>
                                                                <input type="number" class="form-control" min="0" id="obj.cartonList[@i].UserVolume" name="obj.cartonList[@i].UserVolume" placeholder="0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h2 class="mb-0" id="headingThree">
                            <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"><span>3</span>Anything else?<i class=""></i></button>
                        </h2>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#moveJourneyAccordian">
                            <div class="card-body">
                                <div class="NewContent">
                                    <div class="row Copyrow">
                                        <div class="col form-group">
                                            <label>Description</label>
                                            <input type="text" class="form-control anythingElseBlock" id="moveListDesc_0" name="obj.moveList[0].description" placeholder="eg. Mirror">
                                            <span class="text-danger" data-valmsg-for="moveListDesc_0" data-valmsg-replace="true"><span id="moveListDescerror_0" class=""></span></span>
                                        </div>
                                        <div class="col form-group">
                                            <label>Dimension<i class="bx bxs-info-circle pl-2 text-primary" title="Length x Width x Height in cm"></i></label>

                                            <input type="text" class="form-control dimensions " id="moveListDimension_0" name="obj.moveList[0].dimension" onclick="DimensionValidation()" placeholder="eg. 30 * 30 * 30 ft">
                                            <span class="text-danger" data-valmsg-for="moveListDimension_0" data-valmsg-replace="true"><span id="moveListDimensionerror_0" class=""></span></span>
                                            <p id="quantityvalidation" style="color : red"></p>
                                        </div>
                                        <div class="col-auto form-group">
                                            <label>Quantity</label>
                                            <input type="number" class="form-control rounded-pill " min="0" id="moveListQuantity_0" name="obj.moveList[0].quantity" placeholder="0">
                                            <span class="text-danger" data-valmsg-for="moveListQuantity_0" data-valmsg-replace="true"><span id="moveListQuantityerror_0" class=""></span></span>
                                        </div>
                                        <div class="col-auto form-group">
                                            <label>Gross Weight</label>
                                            <input type="number" class="form-control rounded-pill " min="0" id="moveListUserVolume_0" name="obj.moveList[0].UserVolume" placeholder="0">
                                        </div>
                                        <div class="col-auto delete-row"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a href="javascript:;" onclick="IncrementRow()" class="text-underline"><i class="bx bx-plus text-underline"></i>ADD MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="border-top pt-4">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        <button type="button" class="btn btn-secondary btn-lg rounded-pill d-flex align-items-center justify-content-center" @*data-url="@Url.Action(" Index", "Baggage" )"*@ id="backToBaggage"><span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span> Back</button>
                    </div>
                    <div class="col-sm-auto">
                        <button type="submit" class="btn btn-warning btn-lg rounded-pill d-flex align-items-center justify-content-center" id="nextButton" onclick="return validationForm()">Next <span class="pl-2">&#x27A1;</span></button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*<script src="~/Scripts/toastr.min.js"></script>*@
<script type="text/javascript">
    var count = 1;
    function IncrementRow() {
        var i = count++;
        var Result = `<div class="row Copyrow">
        <div class="col form-group" >
                <label>Description</label>
                <input type="text" class="form-control anythingElseBlock" name="obj.moveList[`+ i + `].description" id="moveListDesc_` + i + `"  placeholder="eg. Mirror">
                <span class="text-danger" data-valmsg-for="moveListDesc_` + i + `" data-valmsg-replace="true"><span id="moveListDescerror_` + i+`" class=""></span></span>
        </div>
        <div class="col form-group">
                <label>Dimension<i class="bx bxs-info-circle pl-2 text-primary" title="Length x Width x Height in cm"></i></label>
                <input type="text" class="form-control dimensions " name="obj.moveList[`+ i + `].dimension" id="moveListDimension_` + i + `"  placeholder="eg. 30 * 30 * 30 ft">
                <span class="text-danger" data-valmsg-for="moveListDimension_`+ i + `" data-valmsg-replace="true"><span id="moveListDimensionerror_` + i+`" class=""></span></span>
                <p id="quantityvalidation" style="color : red"></p>
        </div>
        <div class="col-auto form-group">
                <label>Quantity</label>
                <input type="number" class="form-control rounded-pill " min="0" name="obj.moveList[` + i + `].quantity" id="moveListQuantity_`+ i + `" placeholder="0">
                <span class="text-danger" data-valmsg-for="moveListQuantity_`+ i + ` " data-valmsg-replace="true"><span id="moveListQuantityerror_` + i +`" class=""></span></span>
        </div>
        <div class="col-auto form-group">
                <label>Gross Weight</label>
                <input type="number" class="form-control rounded-pill " min="0" name="obj.moveList[` + i + `].UserVolume" id="moveListUserVolume_`+ i + `" placeholder="0">
            </div>
            <div class="col-auto delete-row pl-0">
            <label>&nbsp;</label>
             <button class="btn" onclick='return remove(this)'><i class="bx bx-minus"></i></button>
            </div>
            </div>`;

        $('.NewContent').append(Result);
        DimensionValidation();
    }

    function remove(e) {
        $(e).parent().parent().remove()
        return false;
    }
    $(document).ready(function () {
       var message = '@TempData["ErrorMessage"]';
       if (message != '') {
           //toastr.error(message);
        }

        /* accordion */
        $(".move-journey .collapse.show").each(function () {
            $(this).prev("h2").find(".bx").addClass("bx-minus").removeClass("bx-plus");
        });
        $(".move-journey .collapse").on('show.bs.collapse', function () {
            $(this).prev("h2").find(".bx").removeClass("bx-plus").addClass("bx-minus");
        }).on('hide.bs.collapse', function () {
            $(this).prev("h2").find(".bx").removeClass("bx-minus").addClass("bx-plus");
        });

        /* review slider */
        var reviewSlider = $("#reviewSlider");
        reviewSlider.owlCarousel({
            margin: 40,
            loop: true,
            autoplay: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });
    });
   $('#backToBaggage').click(function () {
       var url = '@Url.Action("Index","Baggage")';
       window.location.href = url;
   });
    function DimensionValidation() {
        $(".dimensions").change(function () {
            var inputval = $(this).val();
            var numericReg = /^[0-9]{1,9}\*[0-9]{1,9}\*[0-9]{1,9}$/;
            if (!numericReg.test(inputval)) {
                $(this).next().next().text("Please enter valid dimension, eg. 30 * 30 * 30.").attr('style', 'Display: block; Color:red ; margin-bottom : -10px ').addClass("errorClass");
                            }
            else {
                $(this).next().next().text(" ").removeClass("errorClass");
            }
        });
    }

    function validationForm() {
        var isValid = false;

        $('.anythingElseBlock').each(function (e) {
            if ($("#moveListDesc_" + e).val() == "" || $("#moveListDimension_" + e).val() == "" || $("#moveListQuantity_" + e).val() == "") {
                if ($("#moveListDesc_" + e).val() == "" && $("#moveListDimension_" + e).val() == "" && $("#moveListQuantity_" + e).val() == "") {
                    //$('#moveListDescerror_' + e).text(''); $('#moveListDimensionerror_' + e).text('');
                    //$('#moveListQuantityerror_' + e).text(''); $('#moveListUserVolumeerror_' + e).text('');
                    //return true;
                }
                else {
                    if ($("#moveListDesc_" + e).val() == "") {
                        $("#moveListDescerror_" + e).text('Description is required');
                    }
                    if ($("#moveListDimension_" + e).val() == "") {
                        $("#moveListDimensionerror_" + e).text('Dimension is required');
                    }
                    if ($("#moveListQuantity_" + e).val() == "") {
                        $("#moveListQuantityerror_" + e).text('Quantity is required');
                    }

                    $('#moveListDesc_' +e).change(function () {
                        if ($('#moveListDesc_' + e) != "") {
                            $('#moveListDescerror_' + e).text('');
                        }
                    });
                    $('#moveListDimension_' + e).change(function () {
                        if ($('#moveListDimension_' + e) != "") {
                            $('#moveListDimensionerror_' + e).text('');
                        }
                    });
                    $('#moveListQuantity_' + e).change(function () {
                        if ($('#moveListQuantity_' + e) != "") {
                            $('#moveListQuantityerror_' + e).text('');
                        }
                    });

                    isValid = true;
                    //return false;
                }
            }
        })
        if (isValid == true) {
            return false;
        }
    }
</script>
