@model QuoteCalculator.Data.tbl_AdditionalQuickQuoteItems

@{
    ViewBag.Title = "Quick Online Quote Details";
}
@*<div class="page-breadcrumb text-center font-nr mb-2">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="#">Get a quote</a></li>
            <li><a href="#">Your international move</a></li>
            <li><a href="#">Removal Services selction</a></li>
            <li><a href="#">Quick quote</a></li>
            <li><a href="#">Selection</a></li>
        </ul>
    </div>*@
<h1 class="text-primary text-center mb-4"><b>Quick Online Quote</b></h1>
<div class="row justify-content-center">
    <div class="col-12 mt-5">
        <div class="pt-4">
            <div class="row justify-content-between">
                <div class="col-sm-auto">

                    @if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["PicfordUrl"])
                    {
                        //Pickford
                        <h5>Quote Number: <span class="text-success">PF<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                    else if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["ExcessUrl"])
                    {
                        //Excess
                        <h5>Quote Number: <span class="text-success">EX<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                    else
                    {
                        //Anglo Pacific
                        <h5>Quote Number: <span class="text-success">AP<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                </div>
                <div class="col-sm-auto">
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","InternationalRemoval",new {@InternationalRemovalId  = CommonHelper.Encode(SessionHelper.InternationalRemovalId.ToString())})">New Quote</a>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","MyQuote")">My Quotes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="border-bottom py-4">
            <h5 class="text-uppercase text-success"><b>YOUR SELECTION:</b></h5>
            <span>From @ViewBag.PostCode, @ViewBag.FromCountry to @ViewBag.ToCity, @ViewBag.ToCountry</span>
            <br />
            <b>

                @if (Model.Beds != null)
                {
                    <span>
                        @Model.Beds Beds,
                    </span>
                }
                @Model.Cuft Cuft  @Model.Ftcontainer container
                <br />
                @*</b>*@
                @*@if (Model.SpecialRequirements != null)
                    {
                        <span>Special Requirement:  @Model.SpecialRequirements</span>
                    }*@
                @if (Model.strSpecialRequirements != null)
                {
                    <span>Special Requirement: </span> <br />
                    foreach (var item in Model.strSpecialRequirements)
                    {
                        if (item != "")
                        {
                            <span>
                                @item
                            </span> <br />
                        }
                    }
                }
            </b>
        </div>
    </div>
    <div class="col-12">
        @if (@ViewBag.RemovalQuote != null && @ViewBag.RemovalQuote > 0)
        {
            <h5 class="my-4"><b><span class="text-uppercase text-success">YOUR QUOTE</span></b></h5>
            <div class="table-responsive">
                <table class="table mb-0">
                    <tr>
                        <td valign="middle" class="border-0"><span class="text-success"><b>Shared (Groupage) Container Service</b></span></td>
                        <td valign="middle" class="border-0"><span class="text-success">Transit time </span><span>7-10 Weeks</span></td>
                        <td valign="middle" class="border-0" style="font-size: large; font-weight: bold;"><span class="text-success">Price </span>£<span id="quotePrice"> @Math.Round(ViewBag.RemovalQuote, 2, MidpointRounding.ToEven) </span></td>
                        <td valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="quoteOption" onclick="QuoteConfirm(@Model.InternationalRemovalId,'EXR')"><i class="bx bx-check font-lg"></i><span id="quoteSpan"> Book Now </span></button></td>
                    </tr>
                </table>
            </div>
            <div class="border-top mt-4">
                <i>At the time of providing this quote, the UK is experiencing increased risk from the coronavirus and the concern is that the number of confirmed cases of the virus will very likely increase. The Government has stated that it will be implementing (as yet) unspecified measures to combat the spread of the virus. In the extremely unlikely event that such measures are put in place which impact our ability to provide services to you (including but not limited to us having to suspend or cancel in full the services), or the virus otherwise affects our ability to fulfil your relocation, we will not be in a position to accept any liability for any losses that may arise and we limit our liability accordingly. We are keeping the matter under careful review and will ensure that all customers are advised of any developments that may affect fulfilment of contracted services</i>
            </div>
        }
        else
        {
            <div class="mt-4">
                <p>
                    Thank you for inquiry. We will get back soon.
                </p>
            </div>
        }
    </div>
</div>

@*<div class="col-12">
        <div class="border-top pt-4">
            <div class="row justify-content-between">
            </div>
        </div>
    </div>*@
@if (@ViewBag.RemovalQuote != null && @ViewBag.RemovalQuote > 0)
{
    <div id="QuoteDetails" style="width:100%;">

    </div>
}
<script>
    $(document).ready(function () {
        LoadQuoteDetails();
    });

    function saveCompleted(data) {
        if (data == "") {
            location.href = '@Url.Action("ThankYou", "Vehicle")';
        }
    }

    function QuoteConfirm(id, type) {
        bootbox.confirm("Are you sure you want to book now?", function (result) {
            if (result) {
                $("#quoteOption").removeClass("btn btn-outline-secondary");
                $("#quoteOption").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                $("#quoteSpan").text("Booked");
                $("#quoteOption").attr("disabled", "disabled");
                var url = '@Url.Action("RemovalQuoteBook", "InternationalRemoval")';
                var data = {
                    'quoteId': id,
                    'type': type
                };
                callwebservice(url,data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
            }
        });
        $(".prod_view").remove();
        $(".modal-dialog").css("margin-top", "340px");
    }
</script>