@using QuoteCalculator.Data
@model tbl_InternationalRemoval

@{
    /**/

    ViewBag.Title = "RemovalServiceSelection";
}
<style>
    .input-validation-error {
        border: 1px solid #f00 !important;
    }

    .field-validation-error {
        color: #f00 !important;
    }
</style>

@*<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="#">Get a quote</a></li>
        <li><a href="#">Your international move</a></li>
        <li><a href="#">Removal service selection</a></li>
    </ul>
</div>*@

<h1 class="text-primary text-center mb-4"><b>What do you want to do?</b></h1>
@*<p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></p>*@
<div class="row justify-content-center">
    <div class="col-md-9 my-4">
        <ul class="progress-steps">
            <li class="active">About You</li>
            <li class="active">Quote Type</li>
            <li>Move Details</li>
        </ul>
    </div>
    <div class="col-md-11 mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="type-block type-block-warning text-center px-4">
                    <h5 class="text-success font-500">FREE Home<br />Consultation / Survey</h5>
                    <img src="~/Content/images/home_consultation.png" alt="img" width="150" />
                    <p class="lineheight-1-8 mb-5">Book a free personal home visit with one of our surveyors to explain our process to you and determine what your overall volume and unique requirements are.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg" id="_homeConsultationOrService">Select</button>

                    @Html.Hidden("HomeConsultationOrService")


                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="type-block type-block-warning text-center px-4">
                    <h5 class="text-success font-500">FREE Home<br />Video Survey</h5>
                    <img src="~/Content/images/home_video.png" alt="img" width="150" />
                    <p class="lineheight-1-8 mb-5">Book a free virtual survey via Video Link with one of our Video Surveyors to determine your volume and unique requirements.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg" id="_homeVideoSurvery">Select</button>
                    @Html.Hidden("HomeVideoSurvery")
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="type-block type-block-warning text-center px-4">
                    <h5 class="text-success font-500">Quick Online<br />Quote</h5>
                    <img src="~/Content/images/quick_online_quotes.png" alt="img" width="150" />
                    <p class="lineheight-1-8 mb-5">Provide us details of your move so we can provide you with an instant online quote.</p>
                    <button type="button" class="btn btn-outline-secondary btn-lg" id="_quickOnlineQuote">Select</button>
                    @*<button class="btn btn-success-600 btn-lg"><i class="bx bx-check font-lg pr-1"></i>Selected</button>*@
                    @Html.Hidden("QuickOnlineQuote")

                </div>
            </div>
            @Html.ValidationMessage("ErrorMessage")
        </div>
    </div>
    <div class="col-12 mt-5">
        <div class="border-top pt-4">
            <div class="row justify-content-between journey-btns">
                <div class="col-sm-auto">
                    <a class="btn btn-link btn-lg rounded-pill d-flex align-items-center justify-content-center" href="@Url.Action("Index","InternationalRemoval",new { @InternationalRemovalId = CommonHelper.Encode(@SessionHelper.InternationalRemovalId.ToString()),@isOldQuote = true } )"><span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span> Back</a>
                </div>
                <div class="col-sm-auto">
                    @*<button type="submit" class="btn btn-warning btn-lg rounded-pill d-flex align-items-center justify-content-center" onclick="RemovalServiceSelection()">Next <span class="pl-2">&#x27A1;</span></button>*@
                </div>
            </div>
        </div>
    </div>
    @*<div id="QuoteDetails" style="width:100%;margin-top: 20px;">

    </div>*@
</div>

<script>
    $(document).ready(function () {
        LoadQuoteDetails();
    });

    function RemovalServiceSelection() {        
        $("#_homeConsultationOrService").text() == 'Selected' ? HomeConsultationOrService = true : HomeConsultationOrService = false;
        $("#_homeVideoSurvery").text() == 'Selected' ? HomeVideoSurvery = true : HomeVideoSurvery = false;
        $("#_quickOnlineQuote").text() == 'Selected' ? QuickOnlineQuote = true : QuickOnlineQuote = false;
        $("#HomeConsultationOrService").val(HomeConsultationOrService)
        $("#HomeVideoSurvery").val(HomeVideoSurvery)
        $("#QuickOnlineQuote").val(QuickOnlineQuote)


        $.ajax({
            url: '@Url.Action("RemovalServiceSelection", "InternationalRemoval")',
            async: false,
            type: 'POST',
            data: {
                HomeConsultationOrService: HomeConsultationOrService,
                HomeVideoSurvery: HomeVideoSurvery,
                QuickOnlineQuote: QuickOnlineQuote
            },
            success: function (data) {                
                if (data.SurveyType == 1) {
                    var urllink = '@Url.Action("HomeConsultationOrService", "InternationalRemoval")?Id=' +  data.QuoteId;
                    window.location.href = urllink;
                }
                 if (data.SurveyType == 2) {                    
                     window.location.href = '@Url.Action("HomeVideoSurvery", "InternationalRemoval")?Id=' +  data.QuoteId;
                }                
                if (data.SurveyType == 3) {
                    var urllink = '@Url.Action("QuickOnlineQuote", "InternationalRemoval")?Id=' + data.QuoteId;
                    window.location.href = urllink;
                }

                  },
            })
    }
    function saveCompleted() {

    }
    $("#_homeConsultationOrService").click(function () {        
        if ($('#_homeVideoSurvery').hasClass("btn btn-success-600 btn-lg")) { // onclick remove HomeVideoSurvery classes
            $('#_homeVideoSurvery').removeClass('btn btn-success-600 btn-lg');
            $('#_homeVideoSurvery').addClass('btn btn-outline-secondary btn-lg');
            $('#_homeVideoSurvery').text('Select');
            $('#_homeVideoSurvery').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
        if ($('#_quickOnlineQuote').hasClass("btn btn-success-600 btn-lg")) { //remove QuickOnlineQuote classes
            $('#_quickOnlineQuote').removeClass('btn btn-success-600 btn-lg');
            $('#_quickOnlineQuote').addClass('btn btn-outline-secondary btn-lg');
            $('#_quickOnlineQuote').text('Select');
            $('#_quickOnlineQuote').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
        $('#_homeConsultationOrService').text(function (i, v) {
            return v === 'Select' ? 'Selected' : 'Select'
        });
        $(this).toggleClass('btn btn-outline-secondary btn-lg');
        $(this).toggleClass('btn btn-success-600 btn-lg');
        if ($('#_homeConsultationOrService').hasClass("btn btn-success-600 btn-lg")) {
            $('#_homeConsultationOrService').prepend('<i class="bx bx-check font-lg pr-1"></i>');

        } else {
            $('#_homeConsultationOrService').removeClass('<i class="bx bx-check font-lg pr-1"></i>');

        }
        RemovalServiceSelection();


    });

    $("#_homeVideoSurvery").click(function () {        
        if ($('#_homeConsultationOrService').hasClass("btn btn-success-600 btn-lg")) { // onclick remove HomeConsultationOrService classes
            $('#_homeConsultationOrService').removeClass('btn btn-success-600 btn-lg');
            $('#_homeConsultationOrService').addClass('btn btn-outline-secondary btn-lg');
            $('#_homeConsultationOrService').text('Select');
            $('#_homeConsultationOrService').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
            if ($('#_quickOnlineQuote').hasClass("btn btn-success-600 btn-lg")) { //remove QuickOnlineQuote classes
                $('#_quickOnlineQuote').removeClass('btn btn-success-600 btn-lg');
                $('#_quickOnlineQuote').addClass('btn btn-outline-secondary btn-lg');
                $('#_quickOnlineQuote').text('Select');
                $('#_quickOnlineQuote').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
            $('#_homeVideoSurvery').text(function (i, v) {
            return v === 'Select' ? 'Selected' : 'Select'
        });
        $(this).toggleClass('btn btn-outline-secondary btn-lg');
        $(this).toggleClass('btn btn-success-600 btn-lg');
            if ($('#_homeVideoSurvery').hasClass("btn btn-success-600 btn-lg")) {
                $('#_homeVideoSurvery').prepend('<i class="bx bx-check font-lg pr-1"></i>');
        } else {
                $('#_homeVideoSurvery').removeClass('<i class="bx bx-check font-lg pr-1"></i>');

        }
        RemovalServiceSelection();
    });

    $("#_quickOnlineQuote").click(function () {        
        if ($('#_homeVideoSurvery').hasClass("btn btn-success-600 btn-lg")) { // onclick remove HomeVideoSurvery classes
            $('#_homeVideoSurvery').removeClass('btn btn-success-600 btn-lg');
            $('#_homeVideoSurvery').addClass('btn btn-outline-secondary btn-lg');
            $('#_homeVideoSurvery').text('Select');
            $('#_homeVideoSurvery').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
        if ($('#_homeConsultationOrService').hasClass("btn btn-success-600 btn-lg")) { //remove HomeConsultationOrService classes
            $('#_homeConsultationOrService').removeClass('btn btn-success-600 btn-lg');
            $('#_homeConsultationOrService').addClass('btn btn-outline-secondary btn-lg');
            $('#_homeConsultationOrService').text('Select');
            $('#_homeConsultationOrService').removeClass('<i class="bx bx-check font-lg pr-1"></i>');
        }
        $(this).text(function (i, v) {    //text change
            return v === 'Select' ? 'Selected' : 'Select'
        });
        $(this).toggleClass('btn btn-outline-secondary btn-lg');
        $(this).toggleClass('btn btn-success-600 btn-lg');
            if ($('#_quickOnlineQuote').hasClass("btn btn-success-600 btn-lg")) { //icon add
                $('#_quickOnlineQuote').prepend('<i class="bx bx-check font-lg pr-1"></i>');
        } else {
                $('#_quickOnlineQuote').removeClass('<i class="bx bx-check font-lg pr-1"></i>');

        }
        RemovalServiceSelection();
    });


</script>