<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script>

@if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["PicfordUrl"])
{
    //Pickford

}
else if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["ExcessUrl"])
{
    //Excess

}
else
{
    //Anglo Pacific
    <section class="reviews-section text-center pb-100">
        <div class="container">
            <h3 class="mb-5"><span class="block-headings text-primary font-weight-bold font-xxl">Reviews</span></h3>
            @*<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>*@
            <div class="user-reviews">
                <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="4d7a5d9c00006400050eed5f" data-style-height="140px" data-style-width="100%" data-theme="light" data-stars="4,5" style="position: relative;">
                    <iframe frameborder="0" scrolling="no" title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/53aa8912dec7e10d38f59f36/index.html?templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=4d7a5d9c00006400050eed5f#locale=en-GB&amp;styleHeight=130px&amp;styleWidth=100%25&amp;theme=light&amp;stars=4%2C5" style="position: relative; height: 130px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
                </div>

                @*<div class="owl-carousel owl-theme" id="reviewSlider">
                        <div class="item">
                            <div class="review review-bg-1">
                                <p>I was stressed about moving day until the guys arrived - they were so effcient, capable and friendly that I had zero qualms about the move. The team in the office are also very happy to help with queries you have and are lovely. Definitely recommend.</p>
                                <p class="mb-0 text-success">Mrs Graeme-Baker</p>
                                <p class="text-success">Melbourne - November 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review review-bg-2">
                                <p>A professional service from start to finish. Good communication throughout. The packing team were punctual, polite and friendly.</p>
                                <p class="mb-0 text-success">Mrs Collins</p>
                                <p class="text-success">Connecticut - November 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review review-bg-3">
                                <p>Anglo Pacific in Glasgow are brillient freight movers. They've helped two of my sisters and me move things to the US, the UK and Australia. Pat, Raymood and manager Coin are kind and helpful, careful in packing, fantastic in meeting deadlines...</p>
                                <p class="mb-0 text-success">Mr Alansari</p>
                                <p class="text-success">North Carolina - June 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review review-bg-1">
                                <p>I was stressed about moving day until the guys arrived - they were so effcient, capable and friendly that I had zero qualms about the move. The team in the office are also very happy to help with queries you have and are lovely. Definitely recommend.</p>
                                <p class="mb-0 text-success">Mrs Graeme-Baker</p>
                                <p class="text-success">Melbourne - November 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review review-bg-2">
                                <p>A professional service from start to finish. Good communication throughout. The packing team were punctual, polite and friendly.</p>
                                <p class="mb-0 text-success">Mrs Collins</p>
                                <p class="text-success">Connecticut - November 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="review review-bg-3">
                                <p>Anglo Pacific in Glasgow are brillient freight movers. They've helped two of my sisters and me move things to the US, the UK and Australia. Pat, Raymood and manager Coin are kind and helpful, careful in packing, fantastic in meeting deadlines...</p>
                                <p class="mb-0 text-success">Mr Alansari</p>
                                <p class="text-success">North Carolina - June 2017</p>
                                <div class="trust-pilot mt-4">
                                    <img src="~/Content/images/trust-pilot.png" alt="TRUSTPILOT" />
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="clearfix"></div>
            @*<div class="row">
                    <div class="col-12 mt-5 text-center">
                        <button class="btn btn-warning btn-lg rounded-pill">Read More...</button>
                    </div>
                </div>*@
        </div>
    </section>

}
<footer class="footer pb-0">
    <div class="container">


        @if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["PicfordUrl"])
        {
            //Pickford
            <div class="row">
                <div class="col-sm-auto">
                    <img src="~/Content/images/Pickford/logo.png" />
                    @*<img src="@Url.Content("~/Content/img/logo.png")" alt="ANGLO PACIFIC" width="100">*@
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Pickford is located at.</b></p>
                            <ul class="footer-location">
                                <li><a href="#"><i class="bx bx-map text-success"></i>Pickfords, Genesis House, Kings Langley, WD4 8LZ</a></li>
                                @*<li><a href="#"><i class="bx bx-map text-success"></i>Unit 5, 7 The Furrows, Trffaord Park, Manchester M32 0SZ</a></li>
                                <li><a href="#"><i class="bx bx-map text-success"></i>Hornal Road, Bothwell Park Industrial Estate, Uddingston, Glasgow G71 7EE</a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        @*<div class="col-6">
                                            <ul class="quick-links">
                                                <li><a href="https://www.pickfords.co.uk/about-us">About</a></li>
                                                <li><a href="https://www.pickfords.co.uk/careers">Careers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul class="quick-links">
                                                <li><a href="https://www.pickfords.co.uk/contact-us">Contacts</a></li>
                                                <li><a href="https://www.pickfords.co.uk/news">News</a></li>
                                                <li><a href="https://www.pickfords.co.uk/sitemap">Sitemap</a></li>
                                            </ul>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <p><b>Contact Us</b></p>
                                    <ul class="footer-contact">
                                        <li><i class="bx bx-phone text-success"></i>Tel: <a href="tel:08000190333">08000 190 333</a></li>
                                        <li><i class="bx bx-envelope text-success"></i>E-mail: <a href="mailto:baggage.desk@pickfords.com">baggage.desk@pickfords.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 py-5 border-top">
                    <div class="row">
                        <div class="col-md">
                            <p>&copy; Pickfords Registered No. 8044368 Pickfords Move Management Limited trading as Pickfords.</p>
                        </div>
                        <div class="col-md-auto">
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/Pickfords/"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="https://twitter.com/pickfords"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="https://www.linkedin.com/company/pickfords"><i class='bx bxl-linkedin-square'></i></a></li>
                                <li><a href="https://www.youtube.com/user/PickfordsTV"><i class='bx bxl-youtube'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        }
        else if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["ExcessUrl"])
        {
            //Excess
            <div class="row">
                <div class="col-sm-auto">
                    <img src="~/Content/images/Excess/logo.jpg" />
                    @*<img src="@Url.Content("~/Content/img/logo.png")" alt="ANGLO PACIFIC" width="100">*@
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Excess International Movers is located at.</b></p>
                            <ul class="footer-location">
                                <li><a href="#"><i class="bx bx-map text-success"></i>9 Laxcon Close, Brent Park, London, NW10 0TG</a></li>
                                @*<li><a href="#"><i class="bx bx-map text-success"></i>Unit 5, 7 The Furrows, Trffaord Park, Manchester M32 0SZ</a></li>
                                <li><a href="#"><i class="bx bx-map text-success"></i>Hornal Road, Bothwell Park Industrial Estate, Uddingston, Glasgow G71 7EE</a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        @*<div class="col-6">
            <ul class="quick-links">
                <li><a href="https://www.excess-international.com/about-us.php">About</a></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="quick-links">
                <li><a href="https://www.excess-baggage.com/contact-us.php">Contacts</a></li>
                <li><a href="https://www.excess-baggage.com/sitemap.php">Sitemap</a></li>
            </ul>
        </div>*@
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <p><b>Contact Us</b></p>
                                    <ul class="footer-contact">
                                        <li><i class="bx bx-phone text-success"></i>Tel: <a href="tel:0208 324 2066">0208 324 2066</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 py-5 border-top">
                    <div class="row">
                        @*<div class="col-md">
                            <p>Anglo pacific International PIc, active as agent for The Movers Trading Club are fully licenced, bonded and OTI registered by the OTI organization number 013636.</p>
                            <p>&copy; Copyright Anglo pacific International PIc 2013 - All Rights Reserved.</p>
                        </div>*@
                        <div class="col-md-auto">
                            @*<ul class="footer-social">
                                <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            //Anglo Pacific
            <div class="row">
                <div class="col-sm-auto">
                    <img src="~/Content/images/logo.png" />
                    @*<img src="@Url.Content("~/Content/img/logo.png")" alt="ANGLO PACIFIC" width="100">*@
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Anglo Pacific International Pic is located at.</b></p>
                            <ul class="footer-location">
                                <li><a href="#"><i class="bx bx-map text-success"></i>Anglo House, Drury Way, London NW10 0HZ</a></li>
                                <li><a href="#"><i class="bx bx-map text-success"></i>Unit 5, 7 The Furrows, Trffaord Park, Manchester M32 0SZ</a></li>
                                <li><a href="#"><i class="bx bx-map text-success"></i>Hornal Road, Bothwell Park Industrial Estate, Uddingston, Glasgow G71 7EE</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        @*<div class="col-6">
                                            <ul class="quick-links">
                                                <li><a href="https://www.anglopacific.co.uk/company_profile.htm">About</a></li>
                                                <li><a href="https://www.anglopacific.co.uk/careers.htm">Careers</a></li>
                                                <li><a href="https://www.anglopacific.co.uk/faqs.htm">FAQ</a></li>
                                                <li><a href="https://www.anglopacific.co.uk/get-a-quote.htm">Get a quote</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul class="quick-links">
                                                <li><a href="https://www.anglopacific.co.uk/contact_us.htm">Contacts</a></li>
                                                <li><a href="https://www.anglopacific.co.uk/news.htm">News</a></li>
                                                <li><a href="https://www.anglopacific.co.uk/sitemap.xml">Sitemap</a></li>
                                            </ul>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <p><b>Contact Us</b></p>
                                    <ul class="footer-contact">
                                        <li><i class="bx bx-phone text-success"></i>Tel: <a href="tel:02089651234">020 8965 1234</a></li>
                                        <li><i class="bx bx-printer text-success"></i>Fax: <a href="#">020 8965 4954</a></li>
                                        <li><i class="bx bx-envelope text-success"></i>E-mail: <a href="mailto:info@anglopacific.co.uk">info@anglopacific.co.uk</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 py-5 border-top">
                    <div class="row">
                        <div class="col-md">
                            <p>Anglo pacific International PIc, active as agent for The Movers Trading Club are fully licenced, bonded and OTI registered by the OTI organization number 013636.</p>
                            <p>&copy; Copyright Anglo pacific International PIc 2013 - All Rights Reserved.</p>
                        </div>
                        <div class="col-md-auto">
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/AngloPacific/"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/anglo-pacific-international-plc/"><i class='bx bxl-linkedin-square'></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCiYoratbJtqxVudXAyLzwVQ"><i class='bx bxl-youtube'></i></a></li>
                                <li><a href="https://twitter.com/anglopacific"><i class='bx bxl-twitter'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                @*<div class="col-auto">
                        <span class="text-uppercase text-success"><b>Call us <a href="tel:0000000" class="text-warning">00.00.000</a></b></span>
                    </div>
                    <div class="col-auto">
                        <ul class="footer-links">
                            <li><a href="#">T&amp;C</a></li>
                            <li>|</li>
                            <li><a href="#">Legals</a></li>
                            <li>|</li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li>|</li>
                            <li><a href="#">Cookie Policy</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</footer>
