@model QuoteCalculatorPickfords.Models.BaggageModel

@{
    ViewBag.Title = "Baggage";
}


<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quote</a></li>
        <li><a href="#">Your international move</a></li>
        <li><a href="#">Move detail</a></li>
        <li><a href="#">Removal service selection</a></li>
        <li><a href="#">Baggage</a></li>
    </ul>
</div>
<h1 class="text-primary text-center mb-4"><b>Here are your quotes!</b></h1>
<div class="row justify-content-center">
    <div class="col-md-7 my-4">
        <ul class="progress-steps">
            <li class="active disabled">First Step</li>
            <li class="active disabled">Second Step</li>
            <li class="active">Third Step</li>
        </ul>
    </div>
    <div class="col-12 mt-5">
        <div class="pt-4">
            <div class="row justify-content-between">
                <div class="col-sm-auto">
                    <h5>Quote Number: <span class="text-success">PF<span>@ViewBag.ReferenceNo</span></span></h5>
                </div>
                <div class="col-sm-auto">
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","Baggage")">New Quote</a>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","MyQuote")">My Quotes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="border-bottom py-4">
            <h5 class="text-uppercase text-success"><b>YOUR SELECTION:</b></h5>
            <span>From @ViewBag.FromCity, @ViewBag.FromCountry to @ViewBag.ToCity, @ViewBag.ToCountry</span>
            <br>
            @if (Model != null)
            {
                <b>
                    <span>
                        @string.Join(", ",
                                    Model.cartonList.Select(x => (x.quantity.ToString() + " " + x.description))
                                    .Concat(Model.moveList.Select(x => (x.quantity.ToString() + " " + x.description))))
                    </span>
                </b>
            }

        </div>
    </div>
    <div class="col-12">
        @if (Model.calculationLines.Count > 0)
        {
            <h5 class="my-4"><b><span class="text-uppercase text-success">YOUR QUOTE</span> <small>(Select an option)</small></b></h5>
            <div class="table-responsive">
                <table class="table mb-0">
                    @for (int i = 0; i < Model.calculationLines.Count; i++)
                    {
                    <tr>
                        <td valign="middle" width="50" class="border-0"><span class="quote-opt-no font-lg text-success">@(i + 1)</span></td>
                        <td valign="middle" class="border-0"><span class="text-success" id="quotekey_@i"><b>@Model.calculationLines[i].DeliveryMethodName</b></span></td>
                        <td valign="middle" class="border-0"><span class="text-success">@Model.calculationLines[i].CalcDescription </span><span>@Model.calculationLines[i].TransitionTime</span></td>
                        <td valign="middle" class="border-0" style="font-size: large; font-weight: bold;"><span class="text-success">Price </span>£<span id="quotePrice_@i"> @Model.calculationLines[i].Amount </span></td>
                        @if (Model.calculationLines[i].isSelected == true)
                        {
                            <td valign="middle" width="150" class="border-0"><button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" id="method_@i" disabled><i class="bx bx-check font-lg"></i><span>Booked</span></button></td>
                        }
                        else
                        {
                            if (ViewBag.isMethodSelected == true)
                            {
                                <td valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i><span>Book Now</span></button></td>
                            }
                            else
                            {
                                <td valign="middle" width="150" class="border-0"><button class="btn btn-outline-secondary" id="quoteOption_@i" onclick="QuoteConfirm(this,@Model.calculationLines.Count)"><i class="bx bx-check font-lg"></i><span id="quoteSpan_@i"> Book Now </span></button></td>
                            }
                        }
                    </tr>
                    }
                </table>
            </div>
            if (@ViewBag.FromCountry == "UNITED KINGDOM")
            {
                <div class="col-12 mt-4">
                    <small style="color:gray">
                        Delivery of flat pack cartons to <span>@ViewBag.FromCity</span>
                        @if (@ViewBag.DeliveryCharge > 0)
                        {
                            <span>£</span><span>@ViewBag.DeliveryCharge</span>
                        }
                        else
                        {
                            <span>Free</span>
                        }
                    </small>
                </div>
                <div class="col-12">
                    <small style="color:gray">
                        Collection of packed items from <span>@ViewBag.FromCity</span>
                        @if (@ViewBag.CollectionCharge > 0)
                        {
                            <span>£</span><span>@ViewBag.CollectionCharge</span>
                        }
                        else
                        {
                            <span>Free</span>
                        }
                    </small>
                </div>
            }
            @*<div class="mt-2">
                <span class="col-12 text-success"><b>We'll Match Any Genuine Quote From A British Association Of Removers (BAR) Bonded Company. Call Us On 0800 783 5322</b></span>
                <div class="paragraphheading" style="color:#294694;text-transform:capitalize;font-weight:bold;font-family:Hind, sans-serif;"></div><div class="standout-box" style="background-color:#ffedd1;border-radius:6px;border:1px solid rgb(254, 153, 0);margin:15px 0px;color:#415261;font-family:Hind, sans-serif;"><div style="margin:15px;font-size:0.85em;line-height:1.33em;">Customers sending goods by sea are covered by our unique Money Back Guarantee in the unlikely event we exceed our delivery expectations. Anglo Pacific is the only company to guarantee delivery, testimony to the frequency of our sailings and our confidence to deliver. Note shipping charges exclude customs formalities and delivery at destination, and insurance.</div></div>
            </div>*@
        }
        else
        {
            <div class="mt-4">
                <p>
                    Thank you for inquiry. We will get back soon.
                </p>
            </div>
        }
    </div>
    <div class="col-12">
        <div class="border-top pt-4">
            <div class="row justify-content-between">
                @*<div class="col-sm-auto">
                        <button class="btn btn-secondary btn-lg rounded-pill d-flex align-items-center justify-content-center" onclick="location.href = '@Url.Action("MoveDetails","Baggage")'"><span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span> Back</button>
                    </div>*@
                @*<div class="col-sm text-center">
                        <p class="mb-0 text-danger text-uppercase">Attention</p>
                        <p>No option has been selected above. Plesae select one to countinue.</p>
                    </div>*@
                @*<div class="col-sm-auto">
                        <button class="btn btn-warning btn-lg rounded-pill d-flex align-items-center justify-content-center">Next <span class="pl-2">&#x27A1;</span></button>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@*@if (Model.calculationLines.Count > 0)
{
    <div id="QuoteDetails" style="width:100%;margin-top: 20px;">

    </div>
}*@
@*<script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>*@
<script>
    $(document).ready(function () {
        /* accordion */
        $(".move-journey .collapse.show").each(function () {
            $(this).prev("h2").find(".bx").addClass("bx-minus").removeClass("bx-plus");
        });
        $(".move-journey .collapse").on('show.bs.collapse', function () {
            $(this).prev("h2").find(".bx").removeClass("bx-plus").addClass("bx-minus");
        }).on('hide.bs.collapse', function () {
            $(this).prev("h2").find(".bx").removeClass("bx-minus").addClass("bx-plus");
        });

        /* review slider */
        var reviewSlider = $("#reviewSlider");
        reviewSlider.owlCarousel({
            margin: 40,
            loop: true,
            autoplay: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                992: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });
        LoadQuoteDetails();
    });

     function saveCompleted(data)
    {
         if (data == "") {
             location.href = '@Url.Action("ThankYou", "Vehicle")';
            @*var urllink = '@Url.Action("Index", "Baggage")';
            window.location.href = urllink;*@
        }
    }

    function QuoteConfirm(e, count) {
        var btnId = e.id;
        bootbox.confirm("Are you sure, you want to book this Quote?", function (result) {
            if (result) {
                var quotekey = $("#quotekey_" + btnId.split('_')[1]).text();
                var quotePrice = $("#quotePrice_" + btnId.split('_')[1]).text();

                for (var i = 0; i < count; i++) {
                    if (i != btnId.split('_')[1]) {
                        $("#quoteOption_" + [i]).removeClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                        $("#quoteOption_" + [i]).addClass("btn btn-outline-secondary");
                        $("#quoteSpan_" + [i]).text("Book Now");
                        $("#quoteOption_" + [i]).attr("disabled", "disabled");
                    }
                }

                $("#" + btnId).removeClass("btn btn-outline-secondary");
                $("#" + btnId).addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                $("#quoteSpan_" + btnId.split('_')[1]).text("Booked");
                $("#quoteOption_" + btnId.split('_')[1]).attr("disabled", "disabled");
                var url = '@Url.Action("BaggageQuoteCal", "Baggage")';
                var data = {
                            'colName': quotekey.replace(' ',''),
                            'quotePrice': quotePrice
                            };
                callwebservice(url,data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
            }
        });
    }
</script>
