
@model tbl_HeadingContent


<div class="k-edit-form-container">
    @Html.HiddenFor(m => m.HeadingContentId)
    

    <div class="editor-label">
        @Html.LabelFor(m => m.HeadingContent)
    </div>

    <div class="editor-field">
        @Html.Kendo().TextBoxFor(m => m.HeadingContent).HtmlAttributes(new { @tabindex = 1 })
        @Html.ValidationMessageFor(m => m.HeadingContent)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.CountryId)
    </div>

    <div class="editor-field">
        @(Html.Kendo().MultiSelectFor(x => x.CountryList)
            .Placeholder("--Select--")
            .DataTextField("CountryName")
            .DataValueField("Id")
            .DataSource(source => source.Read(read => read.Action("GetCountryList", "Common")))
        )
        @Html.ValidationMessageFor(m => m.CountryList)
    </div>

</div>

