@model QuoteCalculatorAdmin.Models.ForgotPasswordModel
@using QuoteCalculatorAdmin.Common

@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - QuoteCalculator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    @*@Styles.Render("~/Content/ui")*@
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/JQueryScripts")
    @Styles.Render("~/content/NewUI_Style")
    <link href="~/Content/new-theme/css/common-custom.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/css/toastr.min.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: red !important;
        }

        .btn-info, .btn-info.focus, .btn-info:focus, .btn-info:hover {
            background-color: #195e5a !important;
        }
    </style>
</head>
<body class="login-bg">
    <div class="card">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-6 col-12 p-0 position-relative">
                    <div class="whitebox">
                        <div class="d-flex align-items-center">
                            <div class="mr-3"><img src="@Url.Content("~/Content/img/logo.png")" style="height: 115px; border-radius:10px;" alt=""></div>
                            <div class="mr-3"><img src="@Url.Content("~/Content/img/eb_logo.jpg")" style="height: 113px;border-radius:10px;" alt=""></div>
                            <div class="mr-3"><img src="@Url.Content("~/Content/img/pf_logo.png")" style="height: 107px;border-radius:10px;" alt=""></div>
                        </div>
                        <h2>We Deliver. On quality, On Value, Online.</h2>
                        <img src="~/Content/img/login.png" alt="This is an Image" class="loginsetimage" />
                    </div>

                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="p-5 login-box">
                        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @autocomplete = "off", @role = "form" }))
                        {
                        <div class="panel panel-body login-form">
                            <img src="~/Content/img/merge-logos.png" alt="Logo" class="img-fluid loginlogo" />
                            <h2 class="logocontent">We Deliver. On quality, On Value, Online.</h2>
                            <h4 class="content-group-lg text-center mb-4">Forgot Password<br /><span class="forgottext"> <small class="display-block">Enter the email address, we'll send you a link to reset your password.</small></span></h4>
                            @*<div class="text-center">
                                <h5 class="content-group-lg">Forgot password <small class="display-block">Enter your Email</small></h5>
                            </div>*@
                        <div class="form-group has-feedback has-feedback-left mt-5 mb-5">
                            <label>E-mail Address</label>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required", placeholder = "Email address", @type = "email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                          
                        </div>

                            <div class="form-group">
                                <button type="submit" class="btn login-btn  btn-block">Submit</button>
                            </div>
                            <div class="login-footer">
                                @*<a href="@Url.Action("Index","Login")">Sign IN</a>*@
                                <a class="text-center text-white d-block cursor-pointer" onclick="Signin()"><i class="icon-arrow-left16 position-left"></i>&nbsp; Back To Sign In </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/LoginJQuery")
    <script src="~/Scripts/pnotify.custom.min.js"></script>
</body>
</html>

<script>
    function Signin()
    {
        var urllink = '@Url.Action("Index", "Login")';
        window.location.href = urllink ;

    }
    $(document).ready(function () {


        var errormessage = '@TempData[CustomEnums.NotifyType.Error.GetDescription()]';
        var successmessage = '@TempData[CustomEnums.NotifyType.Success.GetDescription()]';
        if (errormessage !== "") {
            ShowErrorMessage(errormessage);
        }

        if (successmessage !== "") {
            SucessMessage(successmessage);
        }
    });

    function ShowErrorMessage(msg) {
        var pNotify = new PNotify({
            text: msg,
            type: 'error'
        });
    }


    function SucessMessage(msg) {
        var pNotify = new PNotify({
            text: msg,
            type: 'success'
        });

    }
</script>


