@model QuoteCalculator.Service.Models.AdditionalQuickQuoteItemsModel


<style>
    .h5, h5 {
        font-size: 1.3rem;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        @if (Model != null)
        {
            <h5 class="my-20" style="font-size:20px;"><b><span class="text-uppercase text-primary">YOUR QUOTE</span> </b></h5>
            @*<h5 class="my-20"><b><span class="text-success">@ViewBag.Quantity Quantity </span> </b></h5>*@
            <div class="table-responsive border">
                <table class="table mb-0 table-bordered border-0">
                    <tr>
                        <td valign="middle" class="border-0"><span class="text-success">Shared (Groupage) Container Service</span></td>
                        <td valign="middle" class="border-0"><span class="text-success">Transit time </span><span>7-10 Weeks</span></td>
                        <td valign="middle" class="border-0">
                            <span class="text-success">Price </span>£<span id="quotePrice"> @Math.Round(ViewBag.RemovalQuote, 2, MidpointRounding.ToEven) </span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" class="border-0" colspan="3">
                            <b>
                                @if (Model.Beds != null)
                                {
                                    <span>
                                        @Model.Beds Beds,
                                    </span>
                                }
                                @Model.Cuft Cuft  @Model.Ftcontainer container
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" class="border-0" colspan="3">
                            <ul style="line-height:32px;">
                                <li><span><b>Vehicle :</b> £ @ViewBag.Vehicle</span></li>
                                <li><span><b>Labour :</b> £ @ViewBag.Labour</span></li>
                                <li><span><b>PackingMaterials :</b> £ @ViewBag.PackingMaterials</span></li>
                                <li><span><b>SeaFreight :</b> £ @ViewBag.SeaFreight</span></li>
                                <li><span><b>ReceivingHandling :</b> £ @ViewBag.ReceivingHandling</span></li>
                                <li><span><b>DestinationCharges :</b> £ @ViewBag.DestinationCharges</span></li>
                                <li><span><b>OriginCost :</b> £ @ViewBag.OriginCost</span></li>
                                <li><span><b>OriginMarkup :</b>£ @ViewBag.OriginMarkup</span></li>
                                <li><span><b>Total :</b> £ @ViewBag.Total</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <div class="mt-20">
                <p>
                    Thank you for inquiry. We will get back soon.
                </p>
            </div>
        }
    </div>
</div>
