@model QuoteCalculator.Service.Models.QuoteInformationModel
@using System.Web.Configuration
@{
    /**/

    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="text-primary mb-4"><b>My Quotes</b></h1>
            <h3 class="text-uppercase text-success mb-4"><b>INTERNATIONAL REMOVAL QUOTES</b></h3>
        </div>
    </div>
    <div class="row">
        @if (Model.internationremovalQuoteInfo.Count > 0)
        {
            for (var i = 0; i < Model.internationremovalQuoteInfo.Count; i++)
            {
                <div class="col-sm-12 quote-blocks mt-3">
                    <div class="row">
                        <div class="card card-white">
                            <div class="card-header">
                                <div class="row">
                                    @if (SessionHelper.CompanyId == 1)
                                    {
                                        <div class="col-lg-6 col-12">
                                            <h5 class="mt-0"><span>AP</span>@Model.internationremovalQuoteInfo[i].ReferenceNo <span class="text-success ml-4">@Model.internationremovalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                                        </div>
                                    }
                                    else if (SessionHelper.CompanyId == 2)
                                    {
                                        <div class="col-lg-6 col-12">
                                            <h5 class="mt-0"><span>PF</span>@Model.internationremovalQuoteInfo[i].ReferenceNo <span class="text-success ml-4">@Model.internationremovalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                                        </div>
                                    }
                                    else if (SessionHelper.CompanyId == 3)
                                    {
                                        <div class="col-lg-6 col-12">
                                            <h5 class="mt-0"><span>EI</span>@Model.internationremovalQuoteInfo[i].ReferenceNo <span class="text-success ml-4">@Model.internationremovalQuoteInfo[i].CreatedDate.ToString("dd/MM/yyyy")</span></h5>
                                        </div>
                                    }
                                    <p hidden id="localhost">@WebConfigurationManager.AppSettings["QuoteLocalHost"]</p>
                                    <div class="col-lg-6 col-12 text-right">
                                        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("QuickOnlineQuoteDetail","InternationalRemoval",new { Id = Model.internationremovalQuoteInfo[i].Id, IsQuoteIfo = true } )">Terms and Conditions</a>
                                        @*<a class="btn btn-outline-primary btn-sm" onclick="MyQuoteDetails('@CommonHelper.Encode(Model.internationremovalQuoteInfo[i].Id.ToString())')" href="#">View quote details</a>*@
                                        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("Edit","InternationalRemoval",new { Id = Model.internationremovalQuoteInfo[i].Id} )">Edit Quote</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span><b>From @(string.IsNullOrEmpty(Model.internationremovalQuoteInfo[i].PostCode) ? @Model.internationremovalQuoteInfo[i].FromCountryName : @Model.internationremovalQuoteInfo[i].PostCode), @Model.internationremovalQuoteInfo[i].FromCountryName to @(string.IsNullOrEmpty(Model.internationremovalQuoteInfo[i].CityName) ? @Model.internationremovalQuoteInfo[i].ToCountryName : @Model.internationremovalQuoteInfo[i].CityName), @Model.internationremovalQuoteInfo[i].ToCountryName</b></span>
                                        <br />
                                        @*<span class="text-success mb-0" style="white-space: pre-line">@Model.internationremovalQuoteInfo[i].ReferenceNo</span>*@
                                    </div>
                                    <div class="col-lg-12">
                                        @if (Model.internationremovalQuoteInfo[i].Beds != null)
                                        {
                                            <span>
                                                @Model.internationremovalQuoteInfo[i].Beds Beds,
                                            </span>
                                        }
                                        @Model.internationremovalQuoteInfo[i].Cuft Cuft  @Model.internationremovalQuoteInfo[i].Ftcontainer container
                                        <br />
                                        @if (Model.internationremovalQuoteInfo[i].SpecialRequirements != null)
                                        {
                                            <span class="text-success"><b>Special Requirement: </b></span><br />
                                            <span> @Model.internationremovalQuoteInfo[i].SpecialRequirements </span>
                                        }
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 px-2">
                                        <div class="table-responsive">
                                            <table class="table mb-0 table-bordered border-0">
                                                <tr class="quotes-list">
                                                    <td valign="middle" class="border-0"><span class="text-success"><b>Shared (Groupage) Container Service</b></span></td>
                                                    <td valign="middle" class="border-0"><span class="text-success"><b>Transit time </b></span><span>7-10 Weeks</span></td>
                                                    <td valign="middle" class="border-0" style="font-size: large; font-weight: bold;"><span class="text-success">Price </span>£<span id="quotePrice_@i"> @Model.internationremovalQuoteInfo[i].Total </span></td>

                                                    @if (Model.internationremovalQuoteInfo[i].IsBooked == true)
                                                    {
                                                        <td valign="middle" width="180" class="border-0"><button title="Click here to unbook" class="btn btn-warning" id="unbookbtn_@i" onclick="updateBookedStatus('@Model.internationremovalQuoteInfo[i].Id')"><i class="icon-check2 font-lg"></i> Booked</button></td>

                                                    }
                                                    else
                                                    {
                                                        <td valign="middle" width="180" class="border-0"><button class="btn btn-warning btnBooknow_@i" id="BookNowBtn_@i" onclick="BookRemovalQuote(@Model.internationremovalQuoteInfo[i].Id, 'EXR')"><i class="icon-point-right font-lg"></i> Book Now</button></td>
                                                    }
                                                </tr>
                                                <tr class="quotes-list">
                                                    <td valign="middle" class="border-0" colspan="4">
                                                        <p>
                                                            <span><b>Vehicle :</b></span><span> £ @Model.internationremovalQuoteInfo[i].Vehicle ,</span>
                                                            <span><b>Labour :</b></span><span> £ @Model.internationremovalQuoteInfo[i].Labour ,</span>
                                                            <span><b>PackingMaterials :</b></span><span> £@Model.internationremovalQuoteInfo[i].PackingMaterials ,</span>
                                                            <span><b>SeaFreight :</b></span><span> £ @Model.internationremovalQuoteInfo[i].SeaFreight ,</span>
                                                            <span><b>ReceivingHandling :</b></span><span> £ @Model.internationremovalQuoteInfo[i].ReceivingHandling ,</span>
                                                            <span><b>DestinationCharges :</b></span><span> £@Model.internationremovalQuoteInfo[i].DestinationCharges ,</span>
                                                            <span><b>OriginCost :</b></span><span> £ @Model.internationremovalQuoteInfo[i].OriginCost ,</span>
                                                            <span><b>OriginMarkup :</b></span><span> £ @Model.internationremovalQuoteInfo[i].OriginMarkup ,</span>
                                                            <span><b>Total :</b></span><span> £@Model.internationremovalQuoteInfo[i].Total</span>
                                                        </p>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#menu_InternationalRemoval").addClass("active");
        $("#menu_QuoteDetails").children().removeClass("collapsed");
        $("#menu_QuoteDetails").children().addClass("show");
        $("#menu_QuoteDetails").addClass("active");
    });

    function BookRemovalQuote(id, type) {
        
        @*bootbox.confirm("Are you sure you want to book now?",
            function (result) {
            if (result) {
                var url = '@Url.Action("RemovalQuoteBook", "InternationalRemoval")';
                var data = {
                    'quoteId': id,
                    'type': type
                };
                callwebservice(url, data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
                location.reload();
            }
        });*@
        bootbox.confirm({
            message: "Are you sure you want to book now?",
            buttons: {
                cancel: {
                    label: "No",
                    className: "btn-cancel min-auto cancel"
                },
                confirm: {
                    label: "Yes",
                    className: "btn-warning min-auto  confirm"
                }
            }, callback: function (result) {
               if (result) {
                var url = '@Url.Action("RemovalQuoteBook", "InternationalRemoval")';
                var data = {
                    'quoteId': id,
                    'type': type
                };
                callwebservice(url, data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
                location.reload();
            }
            }
        });
    }
    function saveCompleted(data) {
        if (data == "") {

        }
    }

    //function MyQuoteDetails(Id) {
    //    window.open($("#localhost").text() + "/Baggage/Baggage?quoteId=" + Id + "&isMyQuote=" + true, "_blank");
    //}

    function updateBookedStatus(quoteId) {
        bootbox.confirm("Are you sure you want to unbook?", function (result) {
            if (result) {
                var url = '@Url.Action("UpdateBookStatus", "InternationalRemoval")';
                var data = {
                    'quoteId': quoteId
                };
                callwebservice(url, data, updateStatusAfterSuccess, false, datatypeEnum.text, typeEnum.post);
            }
        });
    }
    function updateStatusAfterSuccess(data) {
        if (data) {
            location.reload();
        }
    }
</script>
<script src="~/Scripts/Common.js"></script>