@model QuoteCalculator.Models.ShipmentTrackModel

@*<div class="page-breadcrumb text-center font-nr mb-2">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Shipment Tracking</a></li>
        </ul>
    </div>*@

<h1 class="text-primary text-center mb-4"><b>Shipment Tracking</b></h1>

<div>
    <p>Dear Customer</p>
    @if (SessionHelper.COMPANY_ID == 1)
    {
        <p>
            During this difficult time Anglo Pacific continues to work for our customers. Our operations have of course been suspended honouring the Government instruction / guidance but we continue to communicate with our customers ​utilising a reduced ​team working remotely & safely from home.We thank you in advance for extending your patience as our response times may take a little longer.
        </p>
    }
    else if (SessionHelper.COMPANY_ID == 2)
    {
        <p>
            During this difficult time Pickfords continues to work for our customers. Our operations have of course been suspended honouring the Government instruction / guidance but we continue to communicate with our customers ​utilising a reduced ​team working remotely & safely from home.We thank you in advance for extending your patience as our response times may take a little longer.
        </p>
    }
    else if (SessionHelper.COMPANY_ID == 3)
    {
        <p>
            During this difficult time Excess International continues to work for our customers. Our operations have of course been suspended honouring the Government instruction / guidance but we continue to communicate with our customers ​utilising a reduced ​team working remotely & safely from home.We thank you in advance for extending your patience as our response times may take a little longer.
        </p>
    }
    <p>
        If you have been contacted ​by us to advise that your goods have not been dispatched then we will contact you when we resume full operational business ​or when we have a further update.
    </p>
    <p>
        If you are contacting us to check if your goods have been dispatched​ you can still check tracking via this online tool using your reference number and consignee (receiver of the goods) surname.
    </p>
    <p>
        Please note there are delays across all modes of transportation given the many network restrictions and capacity reductions in place, the preference to give limited supply chain space to essential or priority commodities and specific destination country service restrictions.
    </p>
    <p>
        If after entering your reference number and consignee surname the message “shipment not found” is displayed, firstly check you are using the correctly supplied reference number and correct surname of the <u>consignee</u> (receiver of the goods). If you are still being displayed this message this indicates your goods are yet to be dispatched. Your goods will be securely held at our warehouse facility awaiting resumption of services. Please contact us at @if (SessionHelper.COMPANY_ID == 1) {<a href="mailto:exports@anglopacific.co.uk">exports@anglopacific.co.uk</a>} else if (SessionHelper.COMPANY_ID == 2) {<a href="mailto:shipping@pickfords-shipping.co.uk">shipping@pickfords-shipping.co.uk</a>} else if (SessionHelper.COMPANY_ID == 3) {<a href="mailto:baggage@excess-international.com">baggage@excess-international.com</a>}  with your reference number and collection details so we can manually check and verify to you.
    </p>
    <p>
        If you have received notification that your goods have departed please contact our partners at destination as they will be kept advised of any alterations to the transit time ​and are aware of any localised issues at destination resulting from COVID-19. ​You can check those partner details via this online tool.
    </p>
    <p>
        Those with collection dates ​previously booked up to the end of April have now been contacted ​as these services are postponed and we will talk to customers with May dates later in April ​as more information becomes available.
    </p>
    <p>
        We, like the rest of the country, will continue ​to monitor Government instruction, guidance and updates and hope that we can return to work in a safe environment as soon as possible ​and we will be in touch at that time.
    </p>
    @if (SessionHelper.COMPANY_ID == 1)
    {
        <p>
            All the team at Anglo Pacific wish ​you a safe time and thank you in advance for your patience & understanding during this challenging time.
        </p>
    }
    else if (SessionHelper.COMPANY_ID == 2)
    {
        <p>
            All the team at Pickfords wish ​you a safe time and thank you in advance for your patience & understanding during this challenging time.
        </p>
    }
    else if (SessionHelper.COMPANY_ID == 3)
    {
        <p>
            All the team at Excess International wish ​you a safe time and thank you in advance for your patience & understanding during this challenging time.
        </p>
    }
</div>
<h1 class="text-primary text-center mb-4"><b>Track Your Shipment Here</b></h1>
<div class="row">
    <p>
        "Our shipment tracking system enables you to monitor the location and status of your consignment. Here you will find shipment details including vessel/flight, container number/air waybill number, estimated date of arrival at destination port/airport and contact details of our local representative.:
    </p>

    <div class="col-md-4 col-lg-4 mt-4">
        @using (Html.BeginForm("Index", "ShipmentTracking", FormMethod.Post, new { @class = "custom-inputs" }))
        {
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.Label("Reference Number")
                    @Html.TextBoxFor(x => x.RefrenceNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.Label("Consignee")
                    @Html.TextBoxFor(x => x.Consignee, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="button" value="View Details" id="btnSearch" class="btn btn-warning btn-lg rounded-pill align-items-center justify-content-center">
                    <input type="reset" value="Clear" id="btnReset" class="btn btn-warning btn-lg rounded-pill align-items-center justify-content-center" style="min-width: max-content !important;">
                </div>
            </div>
        }
    </div>

    <div class="col-md-8 col-lg-8" id="XMLContainer">
        <!-- XML Details-->
        <!-- /XML Details -->
    </div>
</div>

<script>
    $(function () {
        $('#btnSearch').click(function () {
            var refNumber = $('#RefrenceNumber').val();
            var Consignee = $('#Consignee').val();
            if (refNumber == null || refNumber == "")
            {
                ShowErrorMessage('Please Enter Your Reference Number');
                return false;
            }
            if (Consignee == null || Consignee == "") {
                ShowErrorMessage('Please Enter Consignee Surname');
                return false;
            }
            if ((refNumber != null && refNumber != '') && (Consignee != null && Consignee != '')) {
                $.ajax({
                    url: '@Url.Action("ShippingXMLDetailsPartial", "ShipmentTracking")',
                    type: 'GET',
                    cache: false,
                    data: {
                        RefNumber: refNumber,
                        Consig: Consignee
                    }
                }).done(function (result) {
                    $('#XMLContainer').html(result);
                });
            }
        });

        $('#btnReset').click(function () {
            $('#XMLContainer').html("");
        });
    });
</script>