@using QuoteCalculatorAdmin.Common

@*<div class="navbar-inverse bg-indigo">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            @if (SessionHelper.CompanyId == 1)
            {
                <img src="@Url.Content("~/Content/img/logo.png")" alt="Anglo Pacific" width="60" height="90">
            }
            else if (SessionHelper.CompanyId == 2)
            {
                <img src="@Url.Content("~/Content/img/pf_logo.png")" alt="Pickfords">
            }
            else if (SessionHelper.CompanyId == 3)
            {
                <img src="@Url.Content("~/Content/img/eb_logo.jpg")" alt="Excess International Removals">
            }
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>
    
  
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="@Url.Action("Logout","Login")"><i class="icon-switch2"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>*@



<!--new Design-->

<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn">
        <span class="material-icons">menu_open</span>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline">@SessionHelper.WelcomeUser</span>
                <img class="img-profile rounded-circle"
                     src="~/Content/img/undraw_profile.svg" alt="Not Found">
                 
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                @*<a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>*@

                        <a class="dropdown-item" href="@Url.Action("Logout","Login")">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
