
<!--<nav class="navbar navbar-expand-lg">-->
    @*<a class="navbar-brand" href="#">Navbar</a>*@
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars mt-1"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @Html.GenerateMenu()

    
        <form class="form-inline my-2 my-lg-0">
            <ul class="nav navbar-nav navbar-right"  id="navbar-mobile">
                <li class="nav-item dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <span>@SessionHelper.WelcomeUser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><a href="@Url.Action("Logout","Login")"><i class="icon-switch2"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </form>
    </div>
</nav>-->


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">

        <div class="sidebar-brand-text mx-3">
            @if (SessionHelper.CompanyId == 1)
            {
                <img src="@Url.Content("~/Content/img/logo.png")" alt="Anglo Pacific" width="60" height="60">
            }
            else if (SessionHelper.CompanyId == 2)
            {
                <img src="@Url.Content("~/Content/img/pf_logo_inner.png")" alt="Pickfords">
            }
            else if (SessionHelper.CompanyId == 3)
            {
                <img src="@Url.Content("~/Content/img/eb_logo_inner.png")" alt="Excess International Removals" style="width:150px;">
            }
        </div>
    </div>
       @Html.GenerateMenu()


    @*<li class="nav-item ">
        <a class="nav-link"href="@Url.Action("Index","Home")">
            <i class="icon-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"href="@Url.Action("Index","Home")">
            <i class="icon-user"></i>
            <span>User Master</span>
        </a>
    </li>
    <li class="nav-item" id="menu_Role">
        <a class="nav-link" href="@Url.Action("Index","Role")">
            <i class="icon-shield2"></i>
            <span>Role Master</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="icon-mail5"></i>
            <span>E-mail Template</span>
        </a>
    </li>

    <li class="nav-item " id="menu_Vehicle">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="icon-make-group"></i>
            <span>Content Master</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" href="@Url.Action("Index","ContentMaster")"><i class="icon-file-empty"></i> Header Master</a>
                <a class="collapse-item"href="@Url.Action("Index","ChildContentMaster")"><i class="icon-files-empty"></i> Child Master</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="icon-shrink7"></i>
            <span> Opt In / Out</span>
        </a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Quote Details</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" href="utilities-color.html"><i class="icon-truck"></i> Vehical</a>
                <a class="collapse-item" href="utilities-border.html"><i class="icon-earth"></i> International Removal</a>
                <a class="collapse-item" href="utilities-animation.html"><i class="icon-briefcase"></i> Baggage</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="icon-download4"></i>
            <span>Imports Quote</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="icon-coin-pound"></i>
            <span>Trade Quote</span>
        </a>
    </li>*@
</ul>

@*<script>
    //var target = $(".nav-link-item[data-url='" + path + "']");
    //target.parent().prev(".nav-link").removeClass("collapsed");
    //target.parent().addClass("show");
    //$("#menu_Content menu_QuoteDetails").removeClass("collapsed");
    //$("#menu_Custom_Export").next().addClass("hhhhh")
    //$(".nav-link-item[data-url='" + path + "']").addClass("active");
    //$(".nav-link-item[data-url='" + path + "']").closest(".nav-item").addClass("active");



    $('#menu_Content').click(function () {
        debugger
        $("#menu_Content").removeClass("collapsed");
        $("#menu_Content").next().addClass("show");
    });
    $('#menu_QuoteDetails').click(function () {
        debugger
        $("#menu_QuoteDetails").removeClass("collapsed");
        $("#menu_QuoteDetails").next().addClass("show")
    });
</script>*@