@model QuoteCalculator.Service.Models.UserModel
@{
    Layout = null;
}

@*<form id="manageForm" method="POST" enctype="multipart/form-data" onsubmit="addEditUser()">*@
@using (Html.BeginForm("ManageUsers", "UserMaster", FormMethod.Post, new { @class = "form-horizontal", @Id = "UserForm" }))
{
    @Html.HiddenFor(x => x.id,new { @Name = "model.id" })
    <div class="row align-items-center">
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Full Name:</label>
                @Html.TextBoxFor(x => x.username, new { @class = "form-control ", @id = "username", @Name = "model.username" })
                @*@Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger help-block" })*@
                <span class="field-validation-valid text-danger" data-valmsg-for="model.username" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Password</label>
                @Html.TextBoxFor(x => x.password, new { @class = "form-control ", @type = "password", @id = "emailAddress", @Name = "model.password" })
                @*@Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger help-block" })*@
                <span class="field-validation-valid text-danger" data-valmsg-for="model.password" data-valmsg-replace="true"></span>
            </div>
        </div>


    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Email Address:</label>
                @Html.TextBoxFor(x => x.email, new { @class = "form-control ", @id = "emailAddress", @Name = "model.email" })
                @*@Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger help-block" })*@
                <span class="field-validation-valid text-danger" data-valmsg-for="model.email" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Role:</label>
                @Html.DropDownListFor(x => x.RoleId, new SelectList(ViewBag.RoleList, "Value", "Text"), "--- Select Role ---", new { @class = "form-control", @Name = "model.RoleId" })
                @*@Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger help-block" })*@
                <span class="field-validation-valid text-danger" data-valmsg-for="model.RoleId" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Sales Rep Code:</label>
                @Html.TextBoxFor(x => x.SalesRepCode, new { @class = "form-control ", @id = "salesRepCode", @Name = "model.SalesRepCode" })
                @*@Html.ValidationMessageFor(m => m.SalesRepCode, "", new { @class = "text-danger help-block" })*@
                <span class="field-validation-valid text-danger" data-valmsg-for="model.SalesRepCode" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group mb-2">
                <label>Company Name:</label>
                @Html.DropDownListFor(x => x.CompanyId, new SelectList(ViewBag.CompanyList, "Value", "Text"), "--- Select Company ---", new { @class = "form-control", @Name = "model.CompanyId" })
                <span class="field-validation-valid text-danger" data-valmsg-for="model.CompanyId" data-valmsg-replace="true"></span>
                @*@Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger help-block" })*@
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <label class="mr-2">Is Active</label>
            @Html.CheckBoxFor(x => x.IsActive, new { @id = "IsActive" , @Name = "model.IsActive" })
        </div>
    </div>
    <div class="row mt-4 text-right">
        <div class="col-md-12">
            <button type="submit" class="btn btn-warning ml-2">Save</button>
            <button type="button" onclick="cancelClick()" class="btn btn-cancel ml-2">Cancel</button>
        </div>
    </div>
}
@*</form>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();

    });

    function cancelClick() {
        $("#usermodalPopup").modal('hide');
    }

    function checkvalidation() {
        debugger
        if ($("#AddEditUser").validate() != true) {
            return false;
        }
    }
    function addEditUser() {
        return false;
    }
</script>
