@using QuoteCalculatorPickfords.Data
@model tbl_InternationalRemoval

@{
    ViewBag.Title = "Index";
}
<style>
    .input-validation-error {
        border: 1px solid #f00 !important;
    }

    .field-validation-error {
        color: #f00 !important;
    }
</style>
<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="#">Get a quote</a></li>
        <li><a href="#">Your international move</a></li>
    </ul>
</div>
<h1 class="text-primary text-center mb-4"><b>Your move details</b></h1>
<div class="row justify-content-center">
    <div class="col-md-9 my-4">
        <ul class="progress-steps">
            <li class="active">First Step</li>
            <li>Second Step</li>
            <li>Third Step</li>
        </ul>
    </div>
    @using (Html.BeginForm("Index", "InternationalRemoval", FormMethod.Post, new { @class = "custom-inputs", @autocomplete = "off" }))
    {
        <div class="col-12 my-4">
            <span class="text-warning"><b>Fields marked with * are mandatory</b></span>
        </div>
        @*@Html.ValidationMessage("ErrorMessage")*@
        <div class="col-12">

            @*<form class="custom-inputs">*@
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="row">
                        <div class="col-auto small-fixed-input">
                            @Html.HiddenFor(m => m.BranchId)
                            @Html.LabelFor(x => x.TitleId)
                            @Html.DropDownListFor(x => x.TitleId, new SelectList(ViewBag.TitleList, "Id", "TitleName"), "- Select -", new { @class = "custom-selection form-control", @placeholder = "Type Here" })
                            <p>
                                <span class="field-validation-error" data-valmsg-for="TitleId" data-valmsg-replace="true"><span id="TitleId-error" class=""></span></span>
                            </p>
                        </div>
                        <div class="col">
                            @Html.LabelFor(x => x.Firstname)
                            @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", @placeholder = "Type Here" })
                            @Html.ValidationMessageFor(m => m.Firstname)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(x => x.Lastname)
                    @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", @placeholder = "Type Here" })
                    @Html.ValidationMessageFor(m => m.Lastname)
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Type Here" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="col-md-6 form-group">
                    <div class="row">
                        <div class="col-auto small-fixed-input">
                            <label>Country Code*</label>
                            <select class="custom-selection form-control" name="CountryCode">
                                <option> +1    </option>
                                <option> +7    </option>
                                <option> +20   </option>
                                <option> +27   </option>
                                <option> +30   </option>
                                <option> +31   </option>
                                <option> +32   </option>
                                <option> +33   </option>
                                <option> +34   </option>
                                <option> +36   </option>
                                <option> +39   </option>
                                <option> +40   </option>
                                <option> +41   </option>
                                <option> +43   </option>
                                <option selected> +44   </option>
                                <option> +45   </option>
                                <option> +46   </option>
                                <option> +47   </option>
                                <option> +48   </option>
                                <option> +49   </option>
                                <option> +51   </option>
                                <option> +52   </option>
                                <option> +53   </option>
                                <option> +54   </option>
                                <option> +55   </option>
                                <option> +56   </option>
                                <option> +57   </option>
                                <option> +58   </option>
                                <option> +60   </option>
                                <option> +61   </option>
                                <option> +62   </option>
                                <option> +63   </option>
                                <option> +64   </option>
                                <option> +65   </option>
                                <option> +66   </option>
                                <option> +81   </option>
                                <option> +82   </option>
                                <option> +84   </option>
                                <option> +86   </option>
                                <option> +90   </option>
                                <option> +91   </option>
                                <option> +92   </option>
                                <option> +93   </option>
                                <option> +94   </option>
                                <option> +95   </option>
                                <option> +98   </option>
                                <option> +212  </option>
                                <option> +213  </option>
                                <option> +216  </option>
                                <option> +218  </option>
                                <option> +220  </option>
                                <option> +221  </option>
                                <option> +222  </option>
                                <option> +223  </option>
                                <option> +224  </option>
                                <option> +225  </option>
                                <option> +226  </option>
                                <option> +227  </option>
                                <option> +228  </option>
                                <option> +229  </option>
                                <option> +230  </option>
                                <option> +231  </option>
                                <option> +232  </option>
                                <option> +233  </option>
                                <option> +234  </option>
                                <option> +235  </option>
                                <option> +236  </option>
                                <option> +237  </option>
                                <option> +238  </option>
                                <option> +239  </option>
                                <option> +240  </option>
                                <option> +241  </option>
                                <option> +242  </option>
                                <option> +243  </option>
                                <option> +244  </option>
                                <option> +245  </option>
                                <option> +246  </option>
                                <option> +247  </option>
                                <option> +248  </option>
                                <option> +249  </option>
                                <option> +250  </option>
                                <option> +251  </option>
                                <option> +252  </option>
                                <option> +253  </option>
                                <option> +254  </option>
                                <option> +255  </option>
                                <option> +256  </option>
                                <option> +257  </option>
                                <option> +258  </option>
                                <option> +260  </option>
                                <option> +261  </option>
                                <option> +262  </option>
                                <option> +263  </option>
                                <option> +264  </option>
                                <option> +265  </option>
                                <option> +266  </option>
                                <option> +267  </option>
                                <option> +268  </option>
                                <option> +269  </option>
                                <option> +284  </option>
                                <option> +290  </option>
                                <option> +291  </option>
                                <option> +297  </option>
                                <option> +298  </option>
                                <option> +299  </option>
                                <option> +345  </option>
                                <option> +350  </option>
                                <option> +351  </option>
                                <option> +352  </option>
                                <option> +353  </option>
                                <option> +354  </option>
                                <option> +355  </option>
                                <option> +356  </option>
                                <option> +357  </option>
                                <option> +358  </option>
                                <option> +359  </option>
                                <option> +370  </option>
                                <option> +371  </option>
                                <option> +372  </option>
                                <option> +373  </option>
                                <option> +374  </option>
                                <option> +375  </option>
                                <option> +376  </option>
                                <option> +378  </option>
                                <option> +380  </option>
                                <option> +381  </option>
                                <option> +385  </option>
                                <option> +386  </option>
                                <option> +387  </option>
                                <option> +389  </option>
                                <option> +420  </option>
                                <option> +421  </option>
                                <option> +423  </option>
                                <option> +473  </option>
                                <option> +500  </option>
                                <option> +501  </option>
                                <option> +502  </option>
                                <option> +503  </option>
                                <option> +504  </option>
                                <option> +505  </option>
                                <option> +506  </option>
                                <option> +507  </option>
                                <option> +508  </option>
                                <option> +509  </option>
                                <option> +591  </option>
                                <option> +592  </option>
                                <option> +593  </option>
                                <option> +594  </option>
                                <option> +595  </option>
                                <option> +596  </option>
                                <option> +597  </option>
                                <option> +598  </option>
                                <option> +599  </option>
                                <option> +670  </option>
                                <option> +671  </option>
                                <option> +672  </option>
                                <option> +673  </option>
                                <option> +674  </option>
                                <option> +675  </option>
                                <option> +676  </option>
                                <option> +677  </option>
                                <option> +678  </option>
                                <option> +679  </option>
                                <option> +680  </option>
                                <option> +681  </option>
                                <option> +682  </option>
                                <option> +683  </option>
                                <option> +684  </option>
                                <option> +685  </option>
                                <option> +686  </option>
                                <option> +687  </option>
                                <option> +688  </option>
                                <option> +689  </option>
                                <option> +690  </option>
                                <option> +691  </option>
                                <option> +692  </option>
                                <option> +767  </option>
                                <option> +809  </option>
                                <option> +850  </option>
                                <option> +852  </option>
                                <option> +853  </option>
                                <option> +855  </option>
                                <option> +856  </option>
                                <option> +869  </option>
                                <option> +876  </option>
                                <option> +880  </option>
                                <option> +886  </option>
                                <option> +960  </option>
                                <option> +961  </option>
                                <option> +962  </option>
                                <option> +963  </option>
                                <option> +964  </option>
                                <option> +965  </option>
                                <option> +966  </option>
                                <option> +967  </option>
                                <option> +968  </option>
                                <option> +971  </option>
                                <option> +972  </option>
                                <option> +973  </option>
                                <option> +974  </option>
                                <option> +975  </option>
                                <option> +976  </option>
                                <option> +977  </option>
                                <option> +993  </option>
                                <option> +994  </option>
                                <option> +995  </option>
                                <option> +996  </option>
                                <option> +1 340</option>
                                <option> +1 670</option>
                                <option> +1 787</option>
                                <option> +1 868</option>
                            </select>
                        </div>
                        <div class="col">
                            @Html.LabelFor(x => x.Telephone)
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control", @placeholder = "Type Here" })
                            @Html.ValidationMessageFor(m => m.Telephone)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 form-group">
                            @Html.LabelFor(m => m.FromCountryName)
                            <input type="text" class="form-control valid" value="United Kingdom" aria-invalid="false" readonly="">

                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(x => x.PostCode)
                            @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control", @placeholder = "Type Here", @onblur = "CheckValidPostCode()" })
                            <span class="text-danger" id="isPostCodeValid">Please enter valid post code</span>
                            <span class="field-validation-error" data-valmsg-for="PostCode" data-valmsg-replace="true"><span id="PostCode-error" class=""></span></span>
                            @*@Html.ValidationMessageFor(m => m.PostCode)*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 form-group">
                            <div>
                                @Html.LabelFor(m => m.ToCountryCode)
                                @Html.DropDownListFor(x => x.ToCountryCode, new SelectList(ViewBag.CountryList, "country_code", "country"), "- Select -", new { @class = "custom-selection form-control", @placeholder = "Type Here" })
                                @*@Html.ValidationMessageFor(m => m.ToCountryCode)*@
                            </div>
                            <span class="field-validation-error" data-valmsg-for="ToCountry" data-valmsg-replace="true"><span id="ToCountry-error" class=""></span></span>
                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(m => m.CityName)
                            <div>
                                <select id="MovingToCityId" name="CityName" class="custom-selection form-control"></select>
                                @Html.ValidationMessageFor(m => m.CityName)
                            </div>
                        </div>
                        <div class="col-10 col-md-8 form-group">
                            @Html.LabelFor(x => x.EstimatedMoveDate)
                            <div class="input-group date" id='EstimatedMoveDate'>

                                <input type="text" name="EstimatedMoveDate" class="form-control" placeholder="dd/mm/yyyy" id="basic-url">
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text"><i class="bx bx-calendar-alt font-md"></i></span>
                                </div>
                            </div>
                            @*@Html.ValidationMessageFor(m => m.EstimatedMoveDate)*@
                            <span class="field-validation-error" data-valmsg-for="EstimatedMoveDate" data-valmsg-replace="true"><span id="EstimatedMoveDate-error" class=""></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-7 col-lg-5">
                    <div class="custom-check">
                        <input type="checkbox" name="IsConditionApply"
                               id="IsConditionApply" onclick="isPrivacyTerms();">
                        <label for="IsConditionApply"><a href="https://www.anglopacific.co.uk/privacy_policy.htm" target="_blank">Privacy Terms &amp; Conditions*</a></label>
                        <p>
                            <span class="field-validation-error" data-valmsg-for="IsConditionApply" data-valmsg-replace="true"><span id="IsConditionApply-error" class=""></span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5">
            <div class="border-top pt-4">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        @*<button class="btn btn-secondary btn-lg rounded-pill d-flex align-items-center justify-content-center"><span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span> Back</button>*@
                        @*<a class="btn btn-secondary btn-lg rounded-pill d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")"><span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span> Back</a>*@
                    </div>
                    @*<div class="col-sm text-center">
                            <p class="mb-0 text-danger text-uppercase">Attention</p>
                            <p>No option has been selected above. Plesae select one to countinue.</p>
                        </div>*@
                    <div class="col-sm-auto">
                        <button type="submit" class="btn btn-warning btn-lg rounded-pill d-flex align-items-center justify-content-center">Next <span class="pl-2">&#x27A1;</span></button>
                    </div>
                </div>
            </div>
        </div>

        @*</form>*@
    }
</div>


<script type="text/javascript">
    //$(function () {
    //    $('#EstimatedMoveDate').datep icker({
    //        format: 'dd/mm/yyyy',
    //    });
    //});
    $(function () {

        $('#EstimatedMoveDate').datepicker({
            format: 'dd/mm/yyyy',
            startDate: new Date()

        }).on('change', function () { $('.datepicker').hide(); });
    });

    $(document).ready(function (e) {
        var url = window.location.href;
        var country = url.substring(url.lastIndexOf('?') + 1);
        if (country != null) {
            var countryCode = country.split('country=')[1];
            $("Select[id='ToCountryCode']").val(countryCode);
            OnToCountryCodeChange();
        }
        $("#isPostCodeValid").hide();

    })
    $("#ToCountryCode").change(function () {
        OnToCountryCodeChange();
    })

    function OnToCountryCodeChange() {
        var countryId = $("#ToCountryCode").val();
         $.ajax({
             url: '@Url.Action("GetCityListByCountryId", "InternationalRemoval")',
             async: false,
             type: 'POST',
             data: { 'countryCode': countryId },
             success: function (data) {
                 $("#MovingToCityId").html("");
                 $.each(data, function (i, data) {
                     $("#MovingToCityId").append('<option value="' + data.CityName + '">' +
                         data.CityName + '</option>');
                 });
                 $("#MovingToCityId").niceSelect('update');
             },
         })
    }

     function isPrivacyTerms() {
        var isPrivacyTerms = $('#IsConditionApply').is(":checked");
        $("#IsConditionApply").val(isPrivacyTerms);
     }
     function CheckValidPostCode() {
         var postCode = $("#PostCode").val();
         if (postCode == "") {
             $("#isPostCodeValid").remove();
         }
         $.ajax({
             url: '@Url.Action("CheckValidPostCode", "Vehicle")',
             async: false,
             type: 'POST',
             data: { 'postCode': postCode },
             success: function (data) {
                 if (data != false) {
                     $("#BranchId").val(data);
                     $("#isPostCodeValid").remove();
                 }
                 else { $("#isPostCodeValid").show(); }
             }
         });
    }

    $('form').submit(function () {
        var toCountry = $('#ToCountryCode').val();
        var EstimatedMoveDate = $('#EstimatedMoveDate > input').val();
        var IsConditionApply = $('#IsConditionApply').val();
        var arrStartDate = EstimatedMoveDate.split("/");
        var JQEstimateDate = new Date(arrStartDate[2], arrStartDate[1], arrStartDate[0]);

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        var TodayDate = new Date(yyyy, mm, dd);
        var TitleId = $('#TitleId').val();
        var DateCompare = JQEstimateDate < TodayDate;
        if (toCountry == "" || EstimatedMoveDate == "" || DateCompare == true || IsConditionApply == "on" || IsConditionApply == "false" || TitleId == "") {
            if (toCountry == "") {
                $('#ToCountryCode').next().addClass('input-validation-error');
                $('#ToCountry-error').text('To Country is Required.');
            }
            if (EstimatedMoveDate == "") {
                $('#EstimatedMoveDate').addClass('input-validation-error');
                $('#EstimatedMoveDate-error').text('Estimated Move Date is Required.');

            }
            if (DateCompare == true) {
                $('#EstimatedMoveDate').addClass('input-validation-error');
                $('#EstimatedMoveDate-error').text('Estimated Move date must be in future.');

            }
            if (IsConditionApply == "on" || IsConditionApply == "false") {
                $('#IsConditionApply-error').text('Please accept privacy terms.');
            }
            if (TitleId == "") {
                $('#TitleId').next().addClass('input-validation-error');
                $('#TitleId-error').text('Title is Required.');
            }
            return false;
        }
        if ($("#isPostCodeValid").text() != "") {
            return false;
        }
    });
    $('#ToCountryCode').change(function () {
        $('#ToCountryCode').next().removeClass('input-validation-error');
        $('#ToCountry-error').text('');
    });
    $('#EstimatedMoveDate').change(function () {
        $('#EstimatedMoveDate').removeClass('input-validation-error');
        $('#EstimatedMoveDate-error').text('');
    });
    $('#IsConditionApply').change(function () {
        $('#IsConditionApply-error').text('');
    });
    $('#TitleId').change(function () {
        $('#TitleId').next().removeClass('input-validation-error');
        $('#TitleId-error').text('');
    });

</script>
