@model IEnumerable<QuoteCalculator.Service.Models.RoleMenuMapModel>

@{
    Layout = null;
}


@using (Html.BeginForm("ManageRole", "Role", FormMethod.Post, new { @class = "custom-inputs", @Id = "RoleForm" }))
{

    @Html.HiddenFor(model => model.FirstOrDefault().RoleId)
    @Html.HiddenFor(model => model.FirstOrDefault().IsChangeStatus)
    @Html.HiddenFor(model => model.FirstOrDefault().RoleName)
    <div class="row">
        <div class="col-md-12">
            <h6>Role Name : @Html.DisplayFor(m => m.FirstOrDefault().RoleName)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tblassignroles" class="table dataTable nowrap w-100">
                    <thead>
                        <tr>
                            <th>Menu Name</th>
                            <th>
                                <label>Can view</label>

                                <label class="custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" id="chkHeaderEdit" onclick="checkAll('chkView', this.checked)">
                                    <span class="checkmark"></span>
                                </label>

                            </th>
                            <th>
                                <label> Can Insert</label>

                                <label class="custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" id="chkHeaderEdit" onclick="checkAll('chkAdd', this.checked)">
                                    <span class="checkmark"></span>
                                </label>

                            </th>
                            <th>
                                <label> Can Edit</label>

                                <label class="custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" id="chkHeaderEdit" onclick="checkAll('chkEdit', this.checked)">
                                    <span class="checkmark"></span>
                                </label>


                            </th>
                            <th>
                                <label>  Can Delete</label>

                                <label class="custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" id="chkHeaderEdit" onclick="checkAll('chkDelete', this.checked)">
                                    <span class="checkmark"></span>
                                </label>

                            </th>
                            <th>
                                <label>Change Status</label>   
                               
                                <label class="custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" id="chkHeaderEdit" onclick="checkAll('chkChange', this.checked)">
                                    <span class="checkmark"></span>
                                </label>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.MenuName</td>
                                <td>
                                    <span></span>
                                    <label class="custom-checkbox">
                                        @Html.CheckBoxFor(modelitem => item.IsView, new { @class = "form-check-input chkView", onclick = "checkBoxClicked(this)" })
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <span></span>
                                    <label class="custom-checkbox">
                                        @Html.CheckBoxFor(modelitem => item.IsInsert, new { @class = "form-check-input chkAdd", onclick = "checkBoxClicked(this)" })
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <span></span>
                                    <label class="custom-checkbox">
                                        @Html.CheckBoxFor(modelitem => item.IsEdit, new { @class = "form-check-input chkEdit", onclick = "checkBoxClicked(this)" })
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <span></span>
                                    <label class="custom-checkbox">
                                        @Html.CheckBoxFor(modelitem => item.IsDelete, new { @class = "form-check-input chkDelete", onclick = "checkBoxClicked(this)" })
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <span></span>
                                    <label class="custom-checkbox">
                                        @Html.CheckBoxFor(modelitem => item.IsChangeStatus, new { @class = "form-check-input chkChange", onclick = "checkBoxClicked(this)" })
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td style="display:none;">@Html.TextBoxFor(modelitem => item.MenuId)</td>
                                <td style="display:none;">@Html.TextBoxFor(modelitem => item.RoleMenuMapId)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-warning mr-3" onclick="updateroles()">Save</button>
                <button type="button" class="btn btn-warning mr-3" onclick="openRoleModal(@Model.FirstOrDefault().RoleId)">Reset</button>
                <button type="button" onclick="cancelClick()" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
}
