@model QuoteCalculator.Models.VehicleQuoteModel
@using QuoteCalculator.Common

@{
    ViewBag.Title = "Quote";
}
<style>
    .btn-info {
        color: #fff;
        background-color: #008965;
        border-color: #008965;
    }
</style>

@*<div class="page-breadcrumb text-center font-nr mb-2">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Vehicle shipping</a></li>
        <li><a href="#">Quote</a></li>
    </ul>
</div>*@
<h1 class="text-primary text-center mb-4"><b>Here are your quotes!</b></h1>
<div class="row justify-content-center">
    <div class="col-md-9 my-4">
        <ul class="progress-steps">
            <li class="active disabled">First Step</li>
            <li class="active">Second Step</li>
        </ul>
    </div>

    <div class="col-12 mt-5">
        <div class="pt-4">
            <div class="row justify-content-between">
                <div class="col-sm-auto">

                    @if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["PicfordUrl"])
                    {
                        //Pickford
                        <h5>Quote Number: <span class="text-success">PF<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                    else if (@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) == @System.Configuration.ConfigurationManager.AppSettings["ExcessUrl"])
                    {
                        //Excess
                        <h5>Quote Number: <span class="text-success">EX<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                    else
                    {
                        //Anglo Pacific
                        <h5>Quote Number: <span class="text-success">AP<span>@ViewBag.ReferenceNo</span></span></h5>
                    }
                </div>
                <div class="col-sm-auto">
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","Vehicle",new { @vehicleId =  CommonHelper.Encode( @SessionHelper.VehicleId.ToString() ) }) ">New Quote</a>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","MyQuote")">My Quotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="pt-5">
            <div class="row">
                <div class="col-auto">
                    <p class="font-md lineheight-1-5"><b>Your selection:</b></p>
                </div>
                <div class="col">
                    @*<p class="mb-0 font-md lineheight-1-5"> Mrs Lyndsey WALLBANK 23-04-2018 Quote AP1099077</p>
                        <p class="mb-0 font-md lineheight-1-5">Thank you for submitting your online quote request. We are pleased to confirm our for shipment of your BMW 3-series (E21) from our London depot to HOBART, AUSTRALIA.*@
                    <p class="mb-0 font-md lineheight-1-5"> @Model.Title @Model.Firstname @Model.Lastname @Model.EstimatedMoveDate Quote  @ViewBag.ReferenceNo</p>
                    @*<p class="mb-0 font-md lineheight-1-5">Thank you for submitting your online quote request. We are pleased to confirm shipment of your @Model.MakeName @Model.ModelName from our @Model.BranchName depot to @Model.CityName,@Model.ToCountryName*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="page-heading mb-4 mt-5">
            <h4 class="text-success">YOUR QUOTE</h4>
        </div>

        @if (Model.FCLvalue == true && Model.GPGvalue == false)
        {
            <p class="mb-4 font-md lineheight-1-5">Thank you for submitting your online quote request. We are pleased to confirm shipment of your @Model.MakeName @Model.ModelName from our @Model.BranchName depot to @Model.CityName,@Model.ToCountryName</p>
            <div class="row justify-content-between">
                <div class="col col-md-4 col-xl-3">
                    <p class="text-underline font-md text-success lineheight-1-5">By exclusive container to arrival port @Model.CityName</p>
                </div>
                <div class="col-auto col-md-2" style="font-size: large; font-weight: bold;">
                    <p class="text-success font-md">Price</p>
                    <p class="font-md" id="FCLId">
                        £ @Math.Round(Model.FCL, 2, MidpointRounding.ToEven)
                    </p>
                </div>
                <div class="col-auto col-md-2">
                    <button class="btn btn-outline-secondary" id="Fclbuttton" onclick="ConfirmBooking(this)"><i class="bx bx-check font-lg"></i>BOOKED</button>
                </div>
            </div>
        }
        else if (Model.GPGvalue == true && Model.FCLvalue == false)
        {
            <p class="mb-4 font-md lineheight-1-5">Thank you for submitting your online quote request. We are pleased to confirm shipment of your @Model.MakeName @Model.ModelName from our @Model.BranchName depot to @Model.CityName,@Model.ToCountryName</p>
            <div class="row justify-content-between">
                <div class="col col-md-4 col-xl-3">
                    <p class="text-underline font-md text-success lineheight-1-5">By shared container to arrival  port @Model.CityName</p>
                </div>
                <div class="col-auto col-md-2" style="font-size: large; font-weight: bold;">
                    <p class="text-success font-md">Price</p>
                    <p class="font-md" id="GroupageId">£ @Math.Round(Model.GroupageTotal, 2, MidpointRounding.ToEven)</p>
                </div>
                <div class="col-auto col-md-2">
                    <button class="btn btn-outline-secondary" id="GPGbuttton" onclick="ConfirmBooking(this)"><i class="bx bx-check font-lg"></i>BOOKED</button>
                </div>
            </div>
            <p class="mt-4 mb-0">By selecting a shared container you pay only for the space your vehicle occupies within the container.</p>
        }
        else if (Model.FCLvalue == true && Model.GPGvalue == true)
        {
            <p class="mb-4 font-md lineheight-1-5">Thank you for submitting your online quote request. We are pleased to confirm shipment of your @Model.MakeName @Model.ModelName from our @Model.BranchName depot to @Model.CityName,@Model.ToCountryName</p>
            <div class="row justify-content-between">
                <div class="col col-md-4 col-xl-3">
                    <p class="text-underline font-md text-success lineheight-1-5">By exclusive container to arrival port @Model.CityName</p>
                </div>
                <div class="col-auto col-md-2" style="font-size: large; font-weight: bold;">
                    <p class="text-success font-md">Price</p>
                    <p class="font-md" id="FCLId">£ @Math.Round(Model.FCL, 2, MidpointRounding.ToEven)</p>
                </div>
                <div class="col-auto col-md-2">
                    @if (Model.IsFCL == false)
                    {
                        if (Model.IsGPG != true)
                        {
                            <button class="btn btn-outline-secondary" id="Fclbuttton" onclick="ConfirmBooking(this)"><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                        }
                    }
                    @if (Model.IsFCL == true)
                    {
                        <button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button>
                    }
                </div>
            </div>

            <div class="row justify-content-between mt-4">
                <div class="col col-md-4 col-xl-3">
                    <p class="text-underline font-md text-success lineheight-1-5">By shared container to arrival port @Model.CityName</p>
                </div>
                <div class="col-auto col-md-2" style="font-size: large; font-weight: bold;">
                    <p class="text-success font-md">Price</p>
                    <p class="font-md" id="GroupageId">£ @Math.Round(Model.GroupageTotal, 2, MidpointRounding.ToEven)</p>
                </div>
                <div class="col-auto col-md-2">
                    @if (Model.IsGPG == false)
                    {
                        if (Model.IsFCL != true)
                        {
                            <button class="btn btn-outline-secondary" id="GPGbuttton" onclick="ConfirmBooking(this)"><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary" disabled><i class="bx bx-check font-lg"></i>BOOK NOW</button>
                        }
                    }
                    @if (Model.IsGPG == true)
                    {
                        <button class="btn btn-success-600 btn-lg d-flex align-items-center legitRipple" disabled><i class="bx bx-check font-lg"></i>BOOKED</button>
                    }

                </div>
            </div>
            <p class="border-bottom mt-4 mb-4">By selecting a shared container you pay only for the space your vehicle occupies within the container.</p>
            <span class="mt-4"><i>At the time of providing this quote, the UK is experiencing increased risk from the coronavirus and the concern is that the number of confirmed cases of the virus will very likely increase. The Government has stated that it will be implementing (as yet) unspecified measures to combat the spread of the virus. In the extremely unlikely event that such measures are put in place which impact our ability to provide services to you (including but not limited to us having to suspend or cancel in full the services), or the virus otherwise affects our ability to fulfil your relocation, we will not be in a position to accept any liability for any losses that may arise and we limit our liability accordingly. We are keeping the matter under careful review and will ensure that all customers are advised of any developments that may affect fulfilment of contracted services</i></span>
        }
        else if (Model.FCLvalue == false && Model.GPGvalue == false)
        {
            <div>
                <p>
                    Thank you for your vehicle shipping enquiry. We will email our most competitive quotation to you shortly. Anglo Pacific is one of the largest shippers of private motor vehicles in the UK and has safely delivered thousands of vehicles worldwide in the past 35 years. What's more we're bonded by the British Association of Removers so your motor vehicle could not be in safer hands.
                </p>
            </div>
        }
    </div>
    @if (Model.FCLvalue != false || Model.GPGvalue != false)
    {
        <div id="QuoteDetails" style="width:100%;margin-top: 20px;">

        </div>
    }

    @*<div class="col-12 mt-5">
            <div class="border-top pt-4">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        <button class="btn btn-secondary btn-lg rounded-pill d-flex align-items-center justify-content-center" onclick="location.href='@Url.Action("Index", "Vehicle")'">
                            <span class="pl-2" style="transform: rotate(180deg);">&#x27A1;</span>
                            Back
                        </button>
                    </div>
                    @*<div class="col-sm text-center">
                        <p class="mb-0 text-danger text-uppercase">Attention</p>
                        <p>No option has been selected above. Plesae select one to countinue.</p>
                    </div>*
                    <div class="col-sm-auto">
                        <button class="btn btn-warning btn-lg rounded-pill d-flex align-items-center justify-content-center" type="button" onclick="Save();">Next <span class="pl-2">&#x27A1;</span></button>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<script>
    $(document).ready(function () {
        LoadQuoteDetails();
    });

    function Save(str)
    {
        var url = '@Url.Action("Quote", "Vehicle")';
        var data = {
            'VehicleId': @Model.VehicleId,
            'str': str
        };
        callwebservice(url,data, saveCompleted, false, datatypeEnum.text, typeEnum.post);
    }

    function saveCompleted(data)
    {
        if (data == "") {
            location.href = '@Url.Action("ThankYou", "Vehicle")';
            SucessMessage("Your shipment has been booked successfully.");
        }
        else {
            showMessageOnly(data, 'popup-error');
        }
    }

    function ConfirmBooking(e)
    {
        var btnId = e.id;
        bootbox.confirm("Are you sure you want to book now?", function (result) {
            if (result) {
                if (btnId == "Fclbuttton") {
                    $("#Fclbuttton").removeClass("btn btn-outline-secondary");
                    $("#Fclbuttton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                    $("#Fclbuttton").attr("disabled", "disabled");
                    $("#GPGbuttton").attr("disabled", "disabled");
                    $("#Fclbuttton").text("Booked");
                    var str = "FCL";
                    Save(str);
                }

                if (btnId == "GPGbuttton") {
                    $("#GPGbuttton").removeClass("btn btn-outline-secondary");
                    $("#GPGbuttton").addClass("btn btn-success-600 btn-lg d-flex align-items-center legitRipple");
                    $("#GPGbuttton").attr("disabled", "disabled");
                    $("#Fclbuttton").attr("disabled", "disabled");
                    $("#GPGbuttton").text("Booked");
                    var str = "GPG";
                    Save(str);
                }
                           
            }
        });
        $(".prod_view").remove();
        $(".modal-dialog").css("margin-top", "340px");
    }
</script>